---
title: Artículos de Branding
description: Categorías para los {{ title}}
bodyClass: blog-category
layout: 'base.njk'
barba: blogBranding
label: es
---

<div data-barba="container" data-barba-namespace="{{ barba }}">

  <section id="section__hero__blog">
    <div class="column__2">
      <div class="col__left">
        <h1>Artículos recientes</h1>
      </div>
      <div class="col__right">
        
      </div>
    </div>
  </section>

  <section id="section__filter">
    <div class="column__1">
      {% include 'filter.njk' %}
    </div>
  </section>

  <section>
    <div class="section container">
      
      <ul role="list" class="blog__list flow">
        {%- for branding_articles in collections.blog_branding | reverse -%}
          {% include 'blog-branding-snippet.njk' %}
        {%- endfor -%}
      </ul>
    </div>
  </section>
  
</div>

<script src="../../../assets/scripts/loader.js"></script>
<script>

  function blogBrandingGsap() {

    /*  Filter */
    $(function(){
      // bind change event to select
      $('#dynamic_select').on('change', function () {
          var url = $(this).val(); // get selected value
          if (url) { // require a URL
              window.location = url; // redirect
          }
          return false;
      });
    });

    /*  gsap */
    gsap.to("#section__header", {
      backgroundColor:"#edf1f9",//#e0e5ed
      scrollTrigger: {
        trigger: "main",
        start: "top top",
        scrub: true,
        end: "50% top",
      }
    })
  
    gsap.to("#section__header", {
      scrollTrigger:{
        trigger:"#section__header",
        endTrigger: "#site__footer",
        start: "top top",
        end: "bottom top",
        pin: "#section__header",
        pinSpacing: false,
      }
    })
  
    ScrollTrigger.batch(".blog__list li", {
      trigger: ".blog__list",
      start: "top, 70%",
      end: "top, 60%",
      onEnter: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
      onEnterBack: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
      onLeave: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
      onLeaveBack: (batch) =>	gsap.to(batch, { opacity: 0, y:50, stagger: 0.2 }),
    });

  }
  
</script>