---
title: Artículos sobre Desarrollo Web
description: Categorías para los {{ title}}
bodyClass: blog-web
layout: 'base.njk'
barba: blogWeb
label: es
locale: es
---

<div data-barba="container" data-barba-namespace="{{ barba }}">

  <section id="section__hero__blog">
    <div class="column__2">
      <div class="col__left">
        <h1>Artículos de branding</h1>
        <h1>Artículos de blog</h1>
        <h2>Articulos</h2>
        <h2>de web.</h2>
      </div>
      <div class="col__right">
        
      </div>
    </div>
  </section>

  <section id="section__filter">
    <div class="column__1">
      <div class="filter__select">
        <span>Ver artículos por categoría</span>
        <div class="custom-select">
          {% include 'filtro.njk' %}
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section container">
      
      <ul role="list" class="blog__list flow">
        {%- for blog in collections.blog_web_es | reverse -%}
          {% include 'blog-snippet.njk' %}
        {%- endfor -%}
      </ul>
    </div>
  </section>
  
</div>

<script src="../../../assets/scripts/loader.js"></script>
<script>

  function delay (URL) {
    setTimeout( function() { window.location = URL }, 1000 );
    gsap.to(".transition", { height: "100%", ease: "power4.out", duration: 0.4 });
    gsap.to(".inner__transition", { delay: 0.4, height: "100%", ease: "power4.out", duration: 0.5 });
    gsap.to(data.current.container, { opacity: 0 });
  }

  function blogWebGsap() {

    // Custom select
    const dropdown = document.querySelector('.select__dropdown');
    const input = document.querySelector('input');
    const listOfOptions = document.querySelectorAll('.option');
    const body = document.body;
    const toggleDropdown = (event) => {
      event.stopPropagation();
      dropdown.classList.toggle('opened');
    };
    const selectOption = (event) => {
      input.value = event.currentTarget.textContent;
    };
    const closeDropdownFromOutside = () => {
      if (dropdown.classList.contains('opened')) {
        dropdown.classList.remove('opened');
      }
    };
    body.addEventListener('click', closeDropdownFromOutside);
    listOfOptions.forEach((option) => {
      option.addEventListener('click', selectOption);
    });
    dropdown.addEventListener('click', toggleDropdown);
    
    /*  gsap */
    gsap.to("#section__header", {
      backgroundColor:"#edf1f9",//#e0e5ed
      scrollTrigger: {
        trigger: "main",
        start: "top top",
        scrub: true,
        end: "50% top",
      }
    })

    /*  gsap */
    gsap.to("#section__header", {
      backgroundColor:"#edf1f9",//#e0e5ed
      scrollTrigger: {
        trigger: "main",
        start: "top top",
        scrub: true,
        end: "50% top",
      }
    })
  
    gsap.to("#section__header", {
      scrollTrigger:{
        trigger:"#section__header",
        endTrigger: "#site__footer",
        start: "top top",
        end: "bottom top",
        pin: "#section__header",
        pinSpacing: false,
      }
    })
  
    ScrollTrigger.batch(".blog__list li", {
      trigger: ".blog__list",
      start: "top, 70%",
      end: "top, 60%",
      onEnter: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
      onEnterBack: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
      onLeave: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
      onLeaveBack: (batch) =>	gsap.to(batch, { opacity: 0, y:50, stagger: 0.2 }),
    });

  }
  
</script>