<li>
    <article class="snippet">
        <img src="{{ blog.data.image }}" alt="{{ blog.data.imageAlt }}" class="snippet__image" />
        <h3 class="snippet__title">{{ blog.data.title }}</h3>
        <p class="snippet__meta">by <span>{{ blog.data.author }}</span> on <span>{{ blog.date | postDate }}</span></p>
        <p class="snippet__body">{{ blog.data.description }}</p>
        <a href="{{ blog.url }}" class="btn btn--primary">Continuar leyendo</a>
    </article>
</li>