{# `{{lang}}` must be set by you in the data cascade, see above note #}
<!doctype html>
<html lang="{{lang}}">
    <head>
        <!--<link rel="alternate" hreflang="{{lang}}" href="{{page.url}}">
        {% for link in page.url | locale_links %}
            <link rel="alternate" hreflang="{{link.lang}}" href="https://www.11ty.dev{{link.url}}">
        {% endfor %}-->


        {% set hreflangs = [ { "lang": "es", "path": "/es/" }, { "lang": "en", "path": "/en/" }] %}
        
        {% for hreflang in hreflangs %}
        <link rel="alternate" hreflang="{{ hreflang.lang }}" href="{{ site.url }}{{ hreflang.path }}" />
        {% endfor %}


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MARKER branding | {{ title }} - {{ description }}</title>
        <meta name="description" content="{{ seodescription }}">
        <meta name="keywords" content="{{ seokeywords }}">
        <meta name="author" content="Marker Branding">
        {% if robots %}<meta name=”robots” content="{{ robots }}">{% endif %}
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/site.webmanifest">
        <link rel="stylesheet" href="/styles/style.css">
        <script  src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
        <link rel="stylesheet" href="/assets/scripts/splide.min.css">
        <link rel="stylesheet" href="/assets/scripts/splide-default.min.css">
        <style>
            #section__header, .article__work{background-color: {{ bgcolor }} !important;}
            .work__title h1{color: {{ namecolor }} !important;}
            .article__work h3, .work__title span a{color: {{ textcolor }} !important;}
            .oscuro .submenu{ background-color: {{ bgcolor }}; filter: brightness(1.3); }
            .oscuro .header__nav ul ul::before{ background-color: {{ bgcolor }}; }
            .column__3__mkt p picture::before, .column__3__mkt .video__wrapper .picture::before{ background-image: url({{accountTb}}); }
        </style>
    </head>
    
    <body class="page-{{bodyClass}} lang-{{label}} pro{{id}}" data-barba="wrapper">
       
        {% include 'loader.njk' %}

        <div id="mobile__trigger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="mobile__menu">
        {% include 'nav.njk' %}
        <ul role="list">
            <li><a class="menu-{{lang}}" href="https://wa.me/+5219993314062"><span>Mensaje</span><span>Message</span></a></li>
            <li>
                {% for link in page.url | locale_links %}
                {%- if not loop.first %},{% endif %}
                <a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.lang}}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
    <div id="mobile__active"></div>
        <div class="cursor-follower"><span>Ver</span></div>
        <div id="smooth-wrapper">
            <div id="smooth-content">
                {% include 'header.njk' %}
                <main>
                    {{ content | safe }}
                </main>
                {% include 'footer.njk' %}
            </div>
        </div>

        <script src="/assets/scripts/jquery-3.7.1.min.js"></script>
        <script src="/assets/scripts/loader.js"></script>
        <script src="https://unpkg.com/@barba/core"></script>
        <script src="/assets/scripts/main.min.js"></script>
        <script src="/assets/scripts/base.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </body>
</html>