{# `{{lang}}` must be set by you in the data cascade, see above note #}
<!doctype html>
<html lang="{{lang}}">
    <head>
        <!--<link rel="alternate" hreflang="{{lang}}" href="{{page.url}}">
        {% for link in page.url | locale_links %}
            <link rel="alternate" hreflang="{{link.lang}}" href="https://www.11ty.dev{{link.url}}">
        {% endfor %}-->

        <link rel="canonical" href="https://www.marker.com.mx/{{lang}}/" />
        {% set hreflangs = [ { "lang": "es", "path": "/es/" }, { "lang": "en", "path": "/en/" }] %}
        
        {% for hreflang in hreflangs %}
        <link rel="alternate" hreflang="{{ hreflang.lang }}" href="{{ site.url }}{{ hreflang.path }}" />
        {% endfor %}


        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} | MARKER</title>
        <meta name="description" content="{{ seodescription }}">
        <meta name="keywords" content="{{ seokeywords }}">
        <meta name="author" content="Marker Branding">
        {% if robots %}<meta name=”robots” content="{{ robots }}">{% endif %}
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/style.css">
        <!--<script  src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>-->
        <link rel="stylesheet" href="/assets/scripts/splide.min.css">
        <link rel="stylesheet" href="/assets/scripts/splide-default.min.css">
        <style>
            #section__header, .article__work{background-color: {{ bgcolor }} !important;}
            .work__title h1{color: {{ namecolor }} !important;}
            .article__work h3, .work__title span a{color: {{ textcolor }} !important;}
            .oscuro .submenu{ background-color: {{ bgcolor }}; filter: brightness(1.3); }
            .oscuro .header__nav ul ul::before{ background-color: {{ bgcolor }}; }
            .column__3__mkt p picture::before, .column__3__mkt .video__wrapper .picture::before{ background-image: url({{accountTb}}); }
        </style>
        <!-- Meta Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1294710952473951');
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=1294710952473951&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Meta Pixel Code -->
    </head>
    
    <body class="page-{{bodyClass}} lang-{{label}} pro{{id}}" data-barba="wrapper">
       
        {% include 'loader.njk' %}

        <div id="mobile__trigger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="mobile__menu">
        {% include 'nav.njk' %}
        <ul role="list">
            <li><a class="menu-{{lang}}" href="https://wa.me/+5219993314062"><span>Mensaje</span><span>Message</span></a></li>
            <li>
                {% for link in page.url | locale_links %}
                {%- if not loop.first %},{% endif %}
                <a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.lang}}</a>
                {% endfor %}
            </li>
        </ul>
    </div>
        <div id="mobile__active"></div>
        <div class="cursor-follower"><span>Ver</span></div>
        {% include 'whatsapp.njk' %}
        <div id="smooth-wrapper">
            <div id="smooth-content">
                {% include 'header.njk' %}
                <main>
                    {{ content | safe }}
                </main>
                {% include 'footer.njk' %}
            </div>
        </div>

        
        <!--<div id="cookie-banner" style="display: none;" class="cookie-banner">
            <div class="cookie-banner__content">
              <p>Este sitio utiliza cookies para mejorar tu experiencia. ¿Aceptas el uso de cookies?</p>
              <div class="cookie-banner__buttons">
                <button id="accept-cookies" class="cookie-banner__button accept">Aceptar</button>
                <button id="reject-cookies" class="cookie-banner__button reject">Rechazar</button>
              </div>
            </div>
        </div>-->

        <script src="/assets/scripts/jquery-3.7.1.min.js"></script>
        <script src="/assets/scripts/loader.js"></script>
        <script src="https://unpkg.com/@barba/core"></script>
        <script src="/assets/scripts/main.min.js"></script>
        <script src="/assets/scripts/base.js"></script>
        <script>
            /*
            // Mostrar el banner si no se ha tomado una decisión
            if (!localStorage.getItem('cookiesAccepted') && !localStorage.getItem('cookiesRejected')) {
            document.getElementById('cookie-banner').style.display = 'block';
            }

            // Aceptar cookies
            document.getElementById('accept-cookies').addEventListener('click', function () {
            localStorage.setItem('cookiesAccepted', true);
            document.getElementById('cookie-banner').style.display = 'none';
            console.log('Cookies aceptadas');
            // Aquí podrías activar cookies opcionales, como Google Analytics
            });

            // Rechazar cookies
            document.getElementById('reject-cookies').addEventListener('click', function () {
            localStorage.setItem('cookiesRejected', true);
            document.getElementById('cookie-banner').style.display = 'none';
            console.log('Cookies rechazadas');
            // Aquí puedes desactivar funcionalidades opcionales
            });
            */
        </script>
    </body>
</html>