---
title: Artículo de blog
description: Artículos sobre branding, web y marketing
bodyClass: blogAll
layout: 'base.njk'
barba: blogAll
---

<div id="barba__wrapper" data-barba="container" data-barba-namespace="blogAll">
  
  <section id="section__article__hero">
    <div class="column__1">
      <div class="blog__breadcrumb">
        <a href="{{ "/blog/" | locale_url }}">Blog</a>
        <span> / </span>
        <a href="../{{ category | slugify }}/">{{ category }}</a>
      </div>
      <h1>{{ title }}</h1>
      <div class="blog__tags">
        Tags: <span>{{tags}}</span>
      </div>
    </div>
  </section>

  
  
  <section id="section__article__content">
    <div class="column__1">
      {{ content | safe }}
    </div>
  </section>

  <section id="section__article__caller">
    <div class="column__1">
      <p>{{ closure }}</p>
      <p>
        <a class="menu-{{lang}} btn" href="{{ "/contact/" | locale_url }}"><span>Entra en contacto con nosotros</span><span>Get in touch with us</span></a>
      </p>
    </div>
  </section>

  <section id="section__article__footer">
    <div class="column__2">
      <div class="col__left">
        <h2><span>Autor:</span><span>Author:</span></h2>
        <p>{{ author }}</p>
      </div>
      <div class="col__right">
        <h2><span>Compartir:</span><span>Share:</span></h2>
        
        
        <p class="social__share">
          <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ rootURL }}{{ page.url }}" title="Linked In" target="_blank"><img src="/assets/blog/share/share_linkedin.svg" width="44px" height="44px" alt="Share in linkedin" /></a>
          <a href="https://www.facebook.com/sharer.php?u={{ rootURL }}{{ page.url }}" title="Facebook" target="_blank"><img src="/assets/blog/share/share_facebook.svg" width="44px" height="44px" alt="Share in facebook" /></a>
          <a href="https://twitter.com/intent/tweet?url={{ rootURL }}{{ page.url }}&text={{ title }}" title="X" target="_blank"><img src="/assets/blog/share/share_x.svg" width="44px" height="44px" alt="Share in x" /></a>
          <a href="https://reddit.com/submit?url={{ rootURL }}{{ page.url }}&title={{ title }}" title="Reddit" target="_blank"><img src="/assets/blog/share/share_reddit.svg" width="44px" height="44px" alt="Share in reddit" /></a>
          <a href="mailto:?subject={{title}}&body={{ rootURL }}{{ page.url }}" title="Email" target="_blank"><img src="/assets/blog/share/share_email.svg" width="44px" height="44px" alt="Send to email" /></a>
          <a href="https://api.whatsapp.com/send?text={{title}}%20{{ rootURL }}{{ page.url }}" title="WhatsApp" target="_blank"><img src="/assets/blog/share/share_whatsapp.svg" width="44px" height="44px" alt="Send to whatsapp" /></a>
        </p>
      </div>
    </div>
  </section>

</div>

<article class="main-article">
<script src="../../../assets/scripts/loader.js"></script>
<script>

function delay (URL) {
  setTimeout( function() { window.location = URL }, 1000 );
  gsap.to(".transition", { height: "100%", ease: "power4.out", duration: 0.4 });
  gsap.to(".inner__transition", { delay: 0.4, height: "100%", ease: "power4.out", duration: 0.5 });
  gsap.to(data.current.container, { opacity: 0 });
}

  function blogAllGsap() {

    // Check if it's a touch device
    const isTouchDevice = 'ontouchstart' in window;
    const createCursorFollower = () => {
      const $el = document.querySelector('.cursor-follower');
      window.addEventListener('mouseover', (e) => {
        gsap.from($el, {
          duration: 1,
          rotate: 0,
        });
      });
      window.addEventListener('mousemove', (e) => {
        const { target, x, y } = e;
        const isTargetLinkOrBtn = target?.closest('.previous__project') || target?.closest('.next__project');
        gsap.to($el, {
          x: x - 50,
          y: y - 70,
          duration: 1,
          ease: 'power4',
          opacity: isTargetLinkOrBtn ? 1 : 0,
          transform: `scale(${isTargetLinkOrBtn ? 1 : 0})`,
        });
      });
      // Hidding the cursor element when the mouse cursor
      // is moved out of the page
      document.addEventListener('mouseleave', (e) => {
        gsap.to($el, {
          duration: 0.5,
          opacity: 0,
          rotate: 0,
        });
      });
    };
    // Only invoke the function if isn't a touch device
    if (!isTouchDevice) {
      createCursorFollower();
    }

    gsap.to("#section__header", {
      scrollTrigger:{
        trigger:"#section__header",
        endTrigger: "#site__footer",
        start: "top top",
        end: "bottom top",
        pin: "#section__header",
        pinSpacing: false,
      }
    })
  }

</script>