<li>
    <article class="blog__snippet">
        <a href="{{ blog.url }}">
            <h3 class="snippet__title">{{ blog.data.title }}</h3>
        </a>
        <a href="{{ blog.url }}">
            <img src="{{ blog.data.thumbnail }}" alt="{{ blog.data.title }}" class="snippet__image" />
        </a>
        
        <p class="snippet__meta">Escrito por <span>{{ blog.data.author }}</span> el <span>{{ blog.date | postDate }}</span></p>
        <p class="snippet__body">{{ blog.data.description }}</p>
        <a href="{{ blog.url }}" class="btn btn--primary">Continuar leyendo</a>
    </article>
</li>