<li>
    <a href="{{ branding.url}}" class="snippet">
        <img src="{{ branding.data.thumbnail }}" alt="{{ branding.data.description }}" class="snippet__image" />
        <div class="snippet__description">
            <h2 class="snippet__title">{{ branding.data.title }}</h2>
            <p class="snippet__body">{{ branding.data.description }}</p>
            <div class="snippet__services">
                {%- for service in branding.data.services -%}
                    <span>{{ service }}</span>
                {%- endfor -%}
            </div>
        </div>
    </a>
</li>