<li>
    <a href="{{ branding.url }}" class="snippet">
        <img src="{{ branding.data.image }}" alt="{{ branding.data.description }}" class="snippet__image" />
        <div class="snippet__description">
            <h3 class="snippet__title">{{ branding.data.title }}</h3>
            <p class="snippet__body">{{ branding.data.description }}</p>
        </div>
    </a>
</li>