<div class="select__dropdown">
    <input type="text" placeholder="Selecciona una opción" readonly />
    <ul class="options">
        <li class="option"><a href="{{ "/blog" | locale_url }}">Todos los artículos</a></li>
        <li class="option"><a href="{{ "/blog/branding" | locale_url }}">Branding y estrategia de marca</a></li>
        <li class="option"><a href="{{ "/blog/web" | locale_url }}">Desarrollo Web</a></li>
        <li class="option"><a href="{{ "/blog/identidad" | locale_url }}">Logo e Identidad</a></li>
        <li class="option"><a href="{{ "/blog/marketing" | locale_url }}">Marketing y Publicidad</a></li>
    </ul>
    
</div>

<!--<select id="dynamic_select">
    <option value="" selected>Selecciona una opción</option>
    <option value="{{ "/blog" | locale_url }}">Todos los artículos</option>
    <option value="{{ "/blog/branding" | locale_url }}">Branding y estrategia de marca</option>
    <option value="{{ "/blog/identidad" | locale_url }}">Desarrollo Web</option>
    <option value="{{ "/blog/identidad" | locale_url }}">Logo e Identidad</option>
    <option value="{{ "/blog/marketing" | locale_url }}">Marketing y Publicidad</option>
</select>-->