<div class="select__dropdown">
    <input type="text" placeholder="Selecciona una opción" readonly />
    <ul class="options">
        <li class="option">
            <a href="javascript:delay('/es/blog/')">Todos los artículos</a>
        </li>
        <li class="option">
            <a href="javascript:delay('/es/blog/branding')">Branding y estrategia de marca</a>
        </li>
        <li class="option">
            <a href="javascript:delay('/es/blog/web')">Sitios web</a>
        </li>
        <li class="option">
            <a href="javascript:delay('/es/blog/logo')">Logo e identidad</a>
        </li>
        <li class="option">
            <a href="javascript:delay('/es/blog/marketing')">Marketing y publicidad</a>
        </li>
    </ul>
</div>