<div class="select__dropdown">
    <input type="text" placeholder="Select an option" readonly />
    <ul class="options">
        <li class="option">
            <a href="javascript:delay('/en/blog/')">All articles</a>
        </li>
        <li class="option">
            <a href="javascript:delay('/en/blog/branding')">Branding and brand strategy</a>
        </li>
        <li class="option">
            <a href="javascript:delay('/en/blog/web')">Websites</a>
        </li>
        <li class="option">
            <a href="javascript:delay('/en/blog/logo')">Logo and identity</a>
        </li>
        <li class="option">
            <a href="javascript:delay('/en/blog/marketing')">Marketing and advertising</a>
        </li>
    </ul>
</div>