<div class="select__dropdown">
    <input type="text" placeholder="Selecciona una opción" readonly />
    <ul class="options">
        <li class="option"><a href="{{ "/blog" | locale_url }}">Todos los artículos</a></li>
        <li class="option"><a href="{{ "/blog/branding" | locale_url }}">Branding y estrategia de marca</a></li>
        <li class="option"><a href="{{ "/blog/web" | locale_url }}">Desarrollo web</a></li>
        <li class="option"><a href="{{ "/blog/identidad" | locale_url }}">Logo e identidad</a></li>
        <li class="option"><a href="{{ "/blog/marketing" | locale_url }}">Marketing y publicidad</a></li>
    </ul>
</div>