<ul>
    <li id="filter__all"><a class="menu-{{lang}}" href="{{ "/work" | locale_url }}"><span>Todos</span><span>All</span></a></li>
    <li id="filter__branding"><a class="menu-{{lang}}" href="{{ "/work/branding/" | locale_url }}">Branding</a></li>
    <li id="filter__web"><a class="menu-{{lang}}" href="{{ "/work/web/" | locale_url }}">Web</a></li>
    <li id="filter__marketing"><a class="menu-{{lang}}" href="{{ "/work/marketing/" | locale_url }}">Marketing</a></li>
</ul>