<section id="footer__contacto">
  <div class="column__1">
    <h3 class="subtitle"><span>Contáctanos</span><span>Contact Us</span></h3>
  </div>
  <div class="column__2">
    <div class="col__left">
      <h2 class="title"><span>Nuestras oficinas</span><span>Our Offices</span></h2>
      <a class="title" href="https://www.google.com/maps/place/MARKER+agencia+de+branding,+inbound+marketing+y+dise%C3%B1o/@21.03642,-89.5951133,17z/data=!3m1!4b1!4m6!3m5!1s0x8f5676fb796cacaf:0x10d6454e030169f4!8m2!3d21.03642!4d-89.5925384!16s%2Fg%2F11dxkvwjry?entry=ttu" target="_blank"><span>Periférico Norte. Calle 11 #306 x 12-A Santa Gertrudis Copó, C.P. 97305 Mérida, Yucatán. México.</span><span>11 Periferico Norte, Suite 306, Santa Gertrudis Copo, Merida, Yucatan 97305, Mexico.</span></a>
      <h2 class="title"><span>Teléfono / Whatsapp</span><span>Phone / Whatsapp</span></h2>
      <a class="title" href="tel:+52000000000">999 331 4062 </a>
    </div>
    <div class="col__right">
      <p>
        <span>
          MARKER branding
          es una firma especializada en
          crear marcas que conecten
          y cumplan objetivos
        </span>
        <span>
          MARKER Branding
          is a firm specialized in
          creating brands that connect
          and achieve objectives
        </span>
      </p>
      <div class="link__wrapper">
        <a href="mailto:hola@marker.com.mx">hola@marker.com.mx</a>
        <div class="underline__title"></div>
      </div>
    </div>
  </div>
</section>
<section id="section__footer__menu">
  <div class="column__1">
    <h3 class="subtitle">Newsletter</h3>
  </div>
  <div class="column__2">
    <div class="col__left">
      <h2 class="title"><span>Suscríbete a nuestro Newsletter</span><span>Subscribe to our Newsletter</span></h2>
      <form id="custom-newsletter-form" name="newsletter" method="POST">
        <div class="column__2">
          <div class="col__left">
            <div>
              <label for="name_newsletter"><span>Nombre:</span><span>Name:</span>
                <input id="name_newsletter" type="text" name="name_newsletter" />
              </label>
            </div>
            <div>
              <label for="email_newsletter"><span>Correo electrónico:</span><span>Email:</span>
                <input id="email_newsletter" type="email" name="email_newsletter" />
              </label>
            </div>
          </div>
          <div class="col__right">
            <div>
              <div style="display: none;">
                <input type="text" name="honey-pot" tabindex="-1" autocomplete="off" />
              </div>
              <div class="g-recaptcha" data-sitekey="6LeRD68qAAAAAPQ0yEEdoApyKcaPKpo3ns0yVTk1"></div>
              
            </div>
            <button class="btn" type="submit"><span>Suscribirse</span><span>Suscribe</span></button>
          </div>
        </div>
      </form>
      
    </div>
    <div class="col__right">
      <div class="menu__footer">
        <h2><span>Agencia</span><span>Agency</span></h2>
        <ul role="list" class="nav-list flex-group">
          <li class="link__wrapper">
            <a class="menu-{{lang}}" href="{{ "/" | locale_url }}"><span>Enfoque</span><span>Approach</span></a>
            <div class="underline__title"></div>
          </li>
          <li class="link__wrapper">
            <a class="menu-{{lang}}" href="{{ "/work/" | locale_url }}"><span>Proyectos</span><span>Work</span></a>
            <div class="underline__title"></div>
          </li>
          <li class="link__wrapper">
            <a class="menu-{{lang}}" href="{{ "/about/" | locale_url }}"><span>Nosotros</span><span>About</span></a>
            <div class="underline__title"></div>
          </li>
          <li class="link__wrapper">
            <a class="menu-{{lang}}" href="{{ "/blog/" | locale_url }}">Blog</a>
            <div class="underline__title"></div>
          </li>
        </ul>
      </div>
      <div class="menu__footer">
        <h2><span>Servicios</span><span>Services</span></h2>
        <ul role="list" class="nav-list flex-group">
          <li class="link__wrapper">
            <a href="{{ "/services/branding/" | locale_url }}">Branding</a>
            <div class="underline__title"></div>
          </li>
					<li class="link__wrapper">
            <a href="{{ "/services/web/" | locale_url }}">Web</a>
            <div class="underline__title"></div>
          </li>
					<li class="link__wrapper">
            <a href="{{ "/services/marketing/" | locale_url }}">Marketing</a>
            <div class="underline__title"></div>
          </li>
        </ul>
      </div>
      <div class="menu__footer">
        <h2>Social</h2>
        <ul role="list">
          <li class="link__wrapper">
            <a href="https://www.instagram.com/marker.branding" target="_blank">Instagram</a>
            <div class="underline__title"></div>
          </li>
          <li class="link__wrapper">
            <a href="https://www.facebook.com/marker.branding" target="_blank">Facebook</a>
            <div class="underline__title"></div>
          </li>
          <li class="link__wrapper">
            <a href="https://www.linkedin.com/company/marker-branding" target="_blank">LinkedIn</a>
            <div class="underline__title"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer id="site__footer">
  <div class="column__1 max1400">
    <span class="foot-es">© MARKER branding - Todos los derechos reservados - <a href="{{ "/privacidad/" | locale_url }}">Aviso de privacidad</a></span>
    <span class="foot-en">© MARKER branding - All rights reserved - <a href="{{ "/privacidad/" | locale_url }}">Privacy Policy</a></span>
  </div>
  
</footer>

<script src="/assets/scripts/form-newsletter-es.js" defer></script>