<section id="footer__contacto">
  <div class="column__1">
    <h3 class="subtitle">Contáctanos</h3>
  </div>
  <div class="column__2">
    <div class="col__left">
      <h2 class="title">Nuestras oficinas</h2>
      <a class="title" href="https://www.google.com/maps/place/MARKER+agencia+de+branding,+inbound+marketing+y+dise%C3%B1o/@21.03642,-89.5951133,17z/data=!3m1!4b1!4m6!3m5!1s0x8f5676fb796cacaf:0x10d6454e030169f4!8m2!3d21.03642!4d-89.5925384!16s%2Fg%2F11dxkvwjry?entry=ttu" target="_blank">Periférico Norte. Calle 11 #306 x 12-A Santa Gertrudis Copó, C.P. 97305 Mérida, Yucatán. México.</a>
      <h2 class="title">Teléfono / Whatsapp</h2>
      <a class="title" href="tel:+52000000000">999 331 4062 </a>
    </div>
    <div class="col__right">
      <p>MARKER branding
        es una firma especializada en
        crear marcas que conecten
        y cumplan objetivos</p>
      <div class="link__wrapper">
        <a href="mailto:hola@marker.com.mx">hola@marker.com.mx</a>
        <div class="underline__title"></div>
      </div>
    </div>
  </div>
</section>
<section id="section__footer__menu">
  <div class="column__1">
    <h3 class="subtitle">Newsletter</h3>
  </div>
  <div class="column__2">
    <div class="col__left">
      <h2 class="title">Suscríbete a nuestro Newsletter</h2>
      <form name="newsletter" method="POST" data-netlify="true">
        <div>
          <label for="name_newsletter">Nombre:
            <input id="name_newsletter" type="text" name="name_newsletter" />
          </label>
        </div>
        <div>
          <label for="email_newsletter">Correo electrónico:
            <input id="email_newsletter" type="email" name="email_newsletter" />
          </label>
        </div>
        <div>
          <button class="btn" type="submit">Suscribirse</button>
        </div>
      </form>
    </div>
    <div class="col__right">
      <div class="menu__footer">
        <h2>Agencia</h2>
        <ul role="list" class="nav-list flex-group">
          <li class="link__wrapper">
            <a class="menu-{{lang}}" href="{{ "/" | locale_url }}"><span>Enfoque</span><span>Approach</span></a>
            <div class="underline__title"></div>
          </li>
          <li class="link__wrapper">
            <a class="menu-{{lang}}" href="{{ "/work/" | locale_url }}"><span>Proyectos</span><span>Work</span></a>
            <div class="underline__title"></div>
          </li>
          <li class="link__wrapper">
            <a class="menu-{{lang}}" href="{{ "/about/" | locale_url }}"><span>Nosotros</span><span>About</span></a>
            <div class="underline__title"></div>
          </li>
          <li class="link__wrapper">
            <a class="menu-{{lang}}" href="{{ "/blog/" | locale_url }}">Blog</a>
            <div class="underline__title"></div>
          </li>
        </ul>
      </div>
      <div class="menu__footer">
        <h2>Servicios</h2>
        <ul role="list" class="nav-list flex-group">
          <li class="link__wrapper">
            <a href="{{ "/services/branding/" | locale_url }}">Branding</a>
            <div class="underline__title"></div>
          </li>
					<li class="link__wrapper">
            <a href="{{ "/services/web/" | locale_url }}">Web</a>
            <div class="underline__title"></div>
          </li>
					<li class="link__wrapper">
            <a href="{{ "/services/marketing/" | locale_url }}">Marketing</a>
            <div class="underline__title"></div>
          </li>
        </ul>
      </div>
      <div class="menu__footer">
        <h2>Social</h2>
        <ul role="list">
          <li class="link__wrapper">
            <a href="https://www.instagram.com/marker.branding" target="_blank">Instagram</a>
            <div class="underline__title"></div>
          </li>
          <li class="link__wrapper">
            <a href="https://www.facebook.com/marker.branding" target="_blank">Facebook</a>
            <div class="underline__title"></div>
          </li>
          <li class="link__wrapper">
            <a href="https://www.linkedin.com/company/marker-branding" target="_blank">LinkedIn</a>
            <div class="underline__title"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer id="site__footer">
  <div class="column__1 max1400">
    <span>© MARKER branding - Todos los derechos reservados - <a class="foot-{{lang}}" href="{{ "/privacidad/" | locale_url }}"><span>Aviso de privacidad</span><span>Noticy or privacy</span></a></span>
  </div>
  
</footer>