<section id="section__contacto">
  <div class="column__1">
    <h3 class="subtitle">Contáctanos</h3>
    <h2>Posicionemos tu marca</h2>
  </div>
  <div class="column__2">
    <div class="col__left">
      <div class="bloque__contacto">
        <h3>Oficina</h3>
        <a>Periférico Norte. Calle 11 #306 x 12-A Santa Gertrudis Copó, C.P. 97305, Mérida, Yucatán. México.</a>
      </div>
      <div class="bloque__contacto">
        <h3>Teléfono / WhatsApp</h3>
        <a>999 331 4062</a>
      </div>
      <div class="bloque__contacto">
        <h3>Correo electrónico</h3>
        <a>hola@marker.com.mx</a>
      </div>
      <!--<ul class="nav__footer">
        <li><a href="/">Enfoque</a></li>
        <li><a href="/branding/">Branding</a></li>
        <li><a href="/web/">Web</a></li>
        <li><a href="/publicidad/">Publicidad</a></li>
        <li><a href="/nosotros/">Nosotros</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contacto/">Contacto</a></li>
      </ul>-->
    </div>
    <div class="col__right">
      <form name="contacto" method="POST" data-netlify="true">
        <div>
          <label>Nombre:</label>
          <input type="text" name="name" />
        </div>
        <div>
          <label>Empresa:</label>
          <input type="text" name="empresa" />
        </div>
        <div>
          <label>Teléfono:</label>
          <input type="text" name="telefono" />
        </div>
        <div>
          <label>Correo electrónico:</label>
          <input type="email" name="email" />
        </div>
        <div>
          <label>Elige un servicio de interés:</label>
          <div class="select__wrapper">
            <select name="role[]" >
              <option disabled selected value>-- Selecciona una opción --</option>
              <option value="branding">Branding</option>
              <option value="web">Sitio Web</option>
              <option value="marketing">Marketing / Publicidad</option>
            </select>
          </div>
        </div>
        <div>
          <label>Comentarios (opcional):</label>
          <textarea name="message"></textarea>
        </div>
        <div>
          <button class="btn" type="submit">Enviar mensaje</button>
        </div>
      </form>
    </div>
  </div>
</section>

<footer id="site__footer">
  <div class="column__1 max1400">
    <span>© MARKER branding - Todos los derechos reservados - <a class="foot-{{lang}}" href="{{ "/privacidad/" | locale_url }}"><span>Aviso de privacidad</span><span>Noticy or privacy</span></a></span>
  </div>
  
</footer>