<li>
    <a href="{{ latestwork.url }}" class="snippet">
        <div class="work__img__wrappper">
            {{ latestwork.data.thumbnail | responsiveImage(latestwork.data.description, ".snippet__image @nolazy") | safe }}
        </div>
        <div class="snippet__description">
            <h2 class="snippet__title">{{ latestwork.data.title }}</h2>
            <p class="snippet__body">{{ latestwork.data.description }}</p>
            <div class="snippet__services">
                {%- for service in latestwork.data.services -%}
                    <span>{{ service }}</span>
                {%- endfor -%}
            </div>
        </div>
    </a>
</li>