<ul role="list" class="nav-list flex-group">
    <li><a class="menu-{{lang}}" href="{{ "/" | locale_url }}"><span>Enfoque</span><span>Approach</span></a></li>
    <li><a class="menu-{{lang}}" href="{{ "/work/" | locale_url }}"><span>Proyectos</span><span>Work</span></a></li>
    <li><a class="menu-{{lang}} has__submenu" href="{{ "/services/" | locale_url }}"><span>Servicios</span><span>Services</span></a>
        <ul class="submenu">
            <li><a href="{{ "/services/branding/" | locale_url }}">Branding</a></li>
            <li><a href="{{ "/services/web/" | locale_url }}">Web</a></li>
            <li><a href="{{ "/services/marketing/" | locale_url }}">Marketing</a></li>
        </ul>
    </li>
    <li><a class="menu-{{lang}}" href="{{ "/about/" | locale_url }}"><span>Nosotros</span><span>About</span></a></li>
    <li><a class="menu-{{lang}}" href="{{ "/blog/" | locale_url }}">Blog</a></li>
    <li><a class="menu-{{lang}}" href="{{ "/contact/" | locale_url }}"><span>Contacto</span><span>Contact</span></a></li>
</ul>