<li class="splide__slide col__testimonio">
    <img class="quote__svg" src="../assets/enfoque/quote.svg" alt="Testimonios de clientes satisfechos" />
    {{ testimonio.content | safe}}
    <div class="id__testimonio">
        <div><img src="{{ testimonio.data.avatar }}" alt="{{ testimonio.data.nombre }} el {{ testimonio.data.puesto }}" /></div>
        <div>
            <h2>{{ testimonio.data.nombre }}</h2>
            <h3>{{ testimonio.data.puesto }}</h3>
        </div>
    </div>
</li>

<!--<li class="splide__slide col__testimonio">
    <div class="col__left">
        <img src="{{ testimonio.data.thumbnail }}" alt="Testimonio de {{ testimonio.data.nombre }} - {{ testimonio.data.puesto }} - una empresa del sector {{ testimonio.data.sector }}" />
        {{ testimonio.content | safe}}
    </div>
    <div class="col__right">
        
        <div class="id__testimonio">
            <div><img src="{{ testimonio.data.avatar }}" alt="{{ testimonio.data.nombre }} el {{ testimonio.data.puesto }}" /></div>
            <div>
                <h2>{{ testimonio.data.nombre }}</h2>
                <h3>{{ testimonio.data.puesto }}</h3>
            </div>
        </div>
        
    </div>
</li>-->