<li class="splide__slide col__testimonio">
    <img class="quote__svg" src="../assets/enfoque/quote.svg" alt="Testimonios de clientes satisfechos" loading="lazy" />
    {{ testimonio.content | safe}}
    <div class="id__testimonio">
        <div>
            {% set altText = testimonio.data.nombre ~ ' el ' ~ testimonio.data.puesto %}
            {{ testimonio.data.avatar | responsiveImage(altText) | safe }}
        </div>
        <div>
            <h2>{{ testimonio.data.nombre }}</h2>
            <h3>{{ testimonio.data.puesto }}</h3>
        </div>
    </div>
</li>