---
title: Proyecto
description: Proyectos de branding, web y marketing
bodyClass: workAll
layout: 'base.njk'
barba: workAll

---
<div id="barba__wrapper" data-barba="container" data-barba-namespace="workAll">

  <article class="article__work">
    <div class="demo">
      {{ html | safe }}
      </div>
    
    <section id="section__hero__work">
      <div class="column__1 work__title">
        <span>Proyectos / <a href="../../work/">{{ tags[0] }}</a> /</span>
        <h1 {{ textcolor }}>{{ title }}</h1>
      </div>
      <div class="column__2">
        <div class="col__left">
          <h3 {{ textcolor }}>Sector</h3>
          <h2>{{ sector }}</h2>
        </div>
        <div class="col__right">
          <h3 {{ textcolor }}>Descripción del cliente</h3>
          <h2 class="basics">{{ basics }}</h2>
        </div>
      </div>
    </section>

    <section id="section__work__list">
      <div class="column__1">
        {{ content | safe }}
      </div>
    </section>
  </article>

  <section id="section__prev__next">
    <div class="column__2">
      <div class="col__left">
        {% if prevPost.url %}
          <a class="previous__project" href="javascript:delay('{{ prevPost.url }}')" data-barba-prevent="self">
            
            <div class="next__prev__wrapper">
              <div class="next__prev__img__wrapper">
                <img src="{{ prevPost.data.thumbnail }}" />
              </div>
              <div class="next__prev__description__wrapper">
                <h2>Proyecto previo:</h2>
                <div class="snippet__title__wrapper">
                  <h3>{{ prevPost.data.title }}</h3>
                  <div class="underline__title"></div>
                </div>
                <p>{{ prevPost.data.description }}</p>
              </div>
            </div>
          </a>
	      {% endif %}
      </div>
      <div class="col__right">
        {% if nextPost.url %}
          <a class="next__project" href="javascript:delay('{{ nextPost.url }}')" data-barba-prevent="self">
            
            <div class="next__prev__wrapper">
              <div class="next__prev__description__wrapper">
                <h2>Proyecto siguiente:</h2>
                <div class="snippet__title__wrapper">
                  <h3>{{ nextPost.data.title }}</h3>
                  <div class="underline__title"></div>
                </div>
                <p>{{ prevPost.data.description }}</p>
              </div>
              <div class="next__prev__img__wrapper">
                <img src="{{ nextPost.data.thumbnail }}" />
              </div>
            </div>
          </a>
	      {% endif %}
      </div>
    </div>
  </section>

</div>

<script src="../../../assets/scripts/loader.js"></script>
<script>

function delay (URL) {
  setTimeout( function() { window.location = URL }, 1000 );
  gsap.to(".transition", { height: "100%", ease: "power4.out", duration: 0.4 });
  gsap.to(".inner__transition", { delay: 0.4, height: "100%", ease: "power4.out", duration: 0.5 });
  gsap.to(data.current.container, { opacity: 0 });
}

  function workAllGsap() {

    // Check if it's a touch device
    const isTouchDevice = 'ontouchstart' in window;
    const createCursorFollower = () => {
      const $el = document.querySelector('.cursor-follower');
      window.addEventListener('mouseover', (e) => {
        gsap.from($el, {
          duration: 1,
          rotate: 0,
        });
      });
      window.addEventListener('mousemove', (e) => {
        const { target, x, y } = e;
        const isTargetLinkOrBtn = target?.closest('.previous__project') || target?.closest('.next__project');
        gsap.to($el, {
          x: x - 50,
          y: y - 70,
          duration: 1,
          ease: 'power4',
          opacity: isTargetLinkOrBtn ? 1 : 0,
          transform: `scale(${isTargetLinkOrBtn ? 1 : 0})`,
        });
      });
      // Hidding the cursor element when the mouse cursor
      // is moved out of the page
      document.addEventListener('mouseleave', (e) => {
        gsap.to($el, {
          duration: 0.5,
          opacity: 0,
          rotate: 0,
        });
      });
    };
    // Only invoke the function if isn't a touch device
    if (!isTouchDevice) {
      createCursorFollower();
    }

    gsap.to("#section__header", {
      scrollTrigger:{
        trigger:"#section__header",
        endTrigger: "#site__footer",
        start: "top top",
        end: "bottom top",
        pin: "#section__header",
        pinSpacing: false,
      }
    })
  }

</script>