/*  Font Face  */

@font-face {
	font-family: 'AeonikRegular';
	src: url('../assets/fonts/aeonik-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'AeonikRegular';
	src: url('../assets/fonts/aeonik-regular-italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'AeonikRegular';
	src: url('../assets/fonts/aeonik-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'AeonikRegular';
	src: url('../assets/fonts/aeonik-light-italic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'AeonikRegular';
	src: url('../assets/fonts/aeonik-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'AeonikRegular';
	src: url('../assets/fonts/aeonik-bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'AeonikRegular';
	src: url('../assets/fonts/aeonik-bold-italic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}

/*	Loader	*/
#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-color:#111c4e;
  transition: opacity 0.6s;
}
#progress{
  height:2px;
  background-color:#e1251b;
  position:absolute;
  width:0;
  top:50%;
  z-index: 1;
}

#progress__bg{
  position: absolute;
  top:50%;
  width: 100%;
  height: 2px;
  background-color: #1f222f;
  display: block;
  left: 0;
  z-index: 0;
}

#progstat{
  font-size:20px;
  letter-spacing: 1px;
  position:absolute;
  top:50%;
  margin-top:20px;
  width:100%;
  text-align:center;
  color:#fff;
}

#logoloader{
  position:absolute;
  top:50%;
  margin-top:-90px;
  width:100%;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content:center;
}

.privacy-policy #overlay, .page-gracias #overlay{
	display:none;
}
/**/

/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'AeonikRegular', sans-serif;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body{
  color:#111c4e;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #e0e5ed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*#smooth-content{
  background-image: url(../assets/bg_noise.svg);
}*/

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
/*@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}*/

/* //////////////////////
General
/////////////////////// */

.transition{
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #c62e26;
  z-index: 1000;
  pointer-events: none;
  opacity: 1;
}

.inner__transition{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: #111c4e;
  opacity: 1;
}

main{
  opacity: 1;
  transition: background-color 0.3s ease-in-out;
}

h1{
  font-size: 1.2vw;
  font-weight: 400;
  margin-bottom: 5px;
  color:#111c4e;
}

h2{
  font-size: 2vw;
  line-height: 1.2;
  margin-bottom: 16px;
  font-weight: 400;
}

h3{
  font-size: 0.9vw;
  line-height: 1.2;
  margin-bottom: 16px;
  font-weight: 400;
}

p{
  font-size: 1.2vw;
  line-height: 1.6;
  margin-bottom: 16px;
  font-weight: 400;
}

span{
  font-size: 1.2vw;
  line-height: 1.6;
  font-weight: 400;
}

a{
  text-decoration: none;
}

#section__header{
  position: absolute;
  z-index: 100;
  width: 100%;
  padding: 0px 50px;
  top:0;
  left: 0;
  background-color: #e0e5ed;
  border-bottom: 0px solid #111c4e;
}

.header__content{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo svg{
  height: auto;
  width: 200px;
}

.header__nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__nav li{
  padding: 0px 20px;
  position: relative;
}

.header__nav li a{
  color:#111c4e;
  text-transform: uppercase;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header__nav li a span{
  font-size: 16px;
}

.header__nav ul ul{
	position: absolute;
	top: 64px;
	left: 0%;
	background-color: #bbc4d1;
  display: none;
  z-index: 105;
  margin: 0;
  padding: 0;
  min-width: 160px;
}

.header__nav li:hover > ul{
	display: block;
}

.header__nav ul ul li{
  list-style: none;
  border-bottom: 1px solid #a5afbb;
}

.header__nav ul ul li:last-child{
  border-bottom: 0px;
}

.header__nav ul ul li a{
  height: 50px;
  
}

.header__lang ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__lang li{
  padding: 7px 10px;
  border:2px solid #0053bf;
  border-radius: 10px;
}

.header__lang li:last-child{
  padding: 7px 10px;
  border: 0px;
  margin-left: 8px;
}

.header__lang li a{
  color:#111c4e;
  text-transform: uppercase;
}

.header__lang li a span{
  font-size: 16px;
}

.menu-es span:first-child{
  display: block;
}
.menu-es span:last-child{
  display: none;
}

.menu-en span:first-child{
  display: none;
}
.menu-en span:last-child{
  display: block;
}

.transition-1{
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  z-index: 102;
  height: 100%;
  background-color: #111c4e;
  pointer-events: none;
  transition: 0.4s ease-in-out;
}

.transition-1.is-active {
  opacity: 1;
  pointer-events: all;
  bottom: 0%;
}

.transition-1.is-active::before{
  content:"";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  background-color: #0071ce;
}

section{
  width: 100%;
  height: auto;
}

.column__1{
  width: 100%;
  height: auto;
}

.column__2{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}

.col__left{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
}

.col__right{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.btn{
  font-size: 1.0vw;
  border: 2px solid #0071ce;
  border-radius: 10px;
  padding: 5px 14px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  background-color: transparent;
}

.btn::before{
  content:"";
  width: 20px;
  height: 20px;
  background-image: url(../assets/arrow_btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  display: block;
  margin-right: 10px;
  transition: width 0.3s ease-in-out;
}

.btn::after{
  content:"";
  width: 0px;
  height: 20px;
  background-image: url(../assets/arrow_btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
  display: block;
  margin-left: 10px;
  transition: width 0.3s ease-in-out;
}

.btn:hover{
  color:#0053bf;
}

.btn:hover::before{
  width: 0px;
}

.btn:hover::after{
  width: 20px;
}

.subtitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  color:#0053bf;
  text-transform: uppercase;
  font-size: 0.8vw;
}

.subtitle::before{
  content:"";
  width: 8px;
  height: 8px;
  background-color: #e1251b;
  display: block;
  margin-right: 10px;
}

.max1400{
  max-width: 1400px;
}

/*  ENFOQUE  */

.page-enfoque #section__drag{
  margin-top: 0px;
}

.page-enfoque #section__header{
  opacity: 1;
}

.page-enfoque .header__nav{
  opacity: 1;
}

.page-enfoque .header__lang{
  opacity: 1;
}

.page-enfoque #section__hero{
  overflow: hidden;
  padding: 0 50px;
}

.page-enfoque #logoScale__container{
  width: 100%;
  height: auto;
  padding-top: 80px;
  position: relative;
  z-index: 101;
  pointer-events: none;
}

.page-enfoque #logoMarkerHeader{
  opacity: 0;
}

.page-enfoque #videoHero{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#logoMarkerScale{
  height: auto !important;
  width: 100%;
  padding-top: 10px;
  
}

#logoScale__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  max-width: 65vw;
}

.page-enfoque #section__hero h2{
  font-size: 2.8vw;
  line-height: 1.0;
  font-weight: 400;
}

.page-enfoque #section__hero h3{
  font-size: 1.8vw;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 10px;
}

.page-enfoque .column__hero__1 .column__2{
  margin-top: 0px;
}

.page-enfoque .column__hero__1 .col__left{
  width: 60%;
}

.page-enfoque .column__hero__1 .col__right{
  width: 40%;
  border-left: 0px solid #111c4e;
  justify-content: flex-end;
  padding-left: 20px;
}

.page-enfoque .column__hero__1 .col__right p{
  font-size: 7vw;
  line-height: 1;
  font-weight: 300;
  margin-bottom: 0px;
  margin-left: 2%;
}

.page-enfoque .column__hero__2{
  margin-top: 0px;
}

.page-enfoque .column__hero__2 .col__left{
  justify-content: center;
  padding-bottom: 50px;
  width: 35%;
  padding: 50px 50px 50px 0px;
}

.page-enfoque .column__hero__2 .col__right{
  width: 65%;
  padding: 50px 0px 50px 50px;
  border-left: 0px solid #111c4e;
}

#section__intro{
  padding: 8% 50px 5%;
}

#section__intro .col__left{
  width: 70%;
}

#section__intro .col__right{
  width: 30%;
}

#section__metodologia{
  position: relative;
}

#section__metodologia .column__1{
  padding: 5% 50px 0%;
  border-bottom: 0px solid #111c4e1a;
}

#section__metodologia .column__intro{
  padding-bottom: 10%;
}

#section__metodologia .column__metodologia{
  padding-right: 8%;
}

#section__metodologia .column__metodologia .col__left{
  position: relative;
}

#section__metodologia .column__metodologia .col__right{
  border-left: 0px solid #111c4e1a;
  padding-left: 0%;
}

#section__metodologia .right__etapa{
  padding-left: 10%;
}

#section__intro h2{
  font-size: 3.2vw;
  line-height: 1.2;
  font-weight: 400;
  position: relative;
  color:#111c4e;
}

#frase > div{
  overflow: hidden;
}

.right__etapa{
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
}

.right__etapa h3{
  color:#0053bf;
  font-size: 1.6vw !important;
  margin-bottom: 10px;
  font-weight: 300;
}

.right__etapa h3 strong{
  color:#0053bf;
  font-weight: 500;
}

.right__etapa h2{
  font-weight: 400;
  color: #111c4e;
  margin-bottom: 2%;
}

#canvas{
  height: calc(100vh - 65px);
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#botella__hoja1{
  position: absolute;
  top: 25%;
  left: 13%;
  z-index: 4;
  width: 20%;
  height: auto;
  opacity: 0;
  transform: translateX(40%), scale(1);
}

#botella__hoja2{
  position: absolute;
  top: 33%;
  left: 67%;
  z-index: 4;
  width: 25%;
  opacity: 0;
  transform: translateX(-10%);
}

#botella__real{
  width: auto;
  height: auto;
  max-height: 70vh;
  object-fit: contain;
  position: relative;
  opacity: 0;
  transform: scale(0.7) rotate(10deg);
}

#botella__trazo__svg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#botella__real__img{
  opacity: 0.3;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 3;
  filter: grayscale(100%);
  transition: filter 0.2s ease-in-out;
}

#lineas__boceto{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

#frases__boceto{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 7;
  opacity: 0;
}

#botella__web__contexto{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  object-fit: contain;
}

#botella__web__base{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 0;
  object-fit: contain;
}

#botella__web__fondo{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0%;
  /*transform: translateX(-150%);*/
  transform: scale(0);
  z-index: 1;
  object-fit: contain;
}

#botella_gradiente_fondo{
  background-color: #b7bfca;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  left: 0;
  -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%);
  mask-image: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%);
  border-radius: 900px;
}

.canva__cover{
  position:absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0%;
  top: 0;
  left: 0;
  background-color: #afd0d6;/*c8dbe1*/
  border-radius: 0px 10px 0px 0px;
  z-index: -1;
  background-color: transparent;
}

.sketch__bg{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  background-image: url(/assets/enfoque/sketch_bg.jpg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  z-index: -1;
  opacity: 0;
}

#section__featured{
  border-top:0px solid #111c4e1a;
  padding: 5% 50px 5%;
  position: relative;
}

#section__featured h3{
  margin-left: 0px;
  color: #e0e5ed;
  margin-bottom: 40px;
}

#section__featured h2{
  color:#e0e5ed;
  font-weight: 400;
  margin-bottom: 0px;
  font-size: 1.2vw;
}

.featured__cover{
  position:absolute;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: 0%;
  top: 0;
  left: 0;
  background-color: #1f222f;/* 1f222f */
  z-index: -1;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  background: #CB4B16;
  border-radius: 80%;
  backface-visibility: hidden;
  visibility:hidden;
  z-index:1;
}

.col__btn{
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.col__btn span{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color:#748fbb;
}

.col__btn .btn{
  margin-top: 0px;
  margin-left: 20px;
  color:#c8dbe1;
  border-color: #748fbb;
}

.col__btn .btn::before{
  background-image: url(../assets/arrow_btn_clear.svg);
}

.col__btn .btn::after{
  background-image: url(../assets/arrow_btn_clear.svg);
}

/*  Clientes */

#section__clientes{
  padding: 5% 0px 0px;
}

#section__clientes .column__1{
  padding: 0 50px;
}

.col__clientes > div:first-child{
  height: auto;
  width: 150vw;
  font-size: 8vw;
  text-align: center;
  position: relative;
  transform:translatex(50vw);
	left:-50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 10vw 0 20vw;
}

.col__clientes > div:last-child{
  height: auto;
  width: 150vw;
  font-size: 8vw;
  text-align: center;
  position: relative;
  transform: translateX(-50vw);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20vw 0 10vw;
}

.cliente__logo{
  width: 14.28%;
  height: auto;
  padding: 1% 3%;
}

/*  Testimonios */

#section__testimonios{
  padding: 5% 50px;
}

#section__testimonios .column__2{
  width: 100%;
}

#section__testimonios .col__left{
  width: 30%;
}

#section__testimonios .col__right{
  width: 65%;
  padding-left: 5%;
}

.col__testimonio{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px;
  background-color: #e7ebf2;
}

.col__testimonio p{
  font-weight: 300;
}

.col__testimonio span{
  color:#0053bf;
  font-size: 5vw;
  line-height: 1;
}

.col__testimonio .col__left{
  width: 70% !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 50px;
  border-right: 1px solid #111c4e1a;
}

.col__testimonio .col__right{
  width: 30% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 50px;
}

.col__testimonio .col__left img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#section__testimonios .splide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.splide__list{
  width: 100%;
}

#section__testimonios .splide__arrows{
  display: flex;
  flex-direction: row;
  width: 110px;
  order:3 !important;
  gap: 10px;
}

#section__testimonios .splide__arrow{
  position: absolute;
  top:0 !important;
  bottom: 0 !important;
  transform: unset !important;
  display: flex;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #0053bf;
  opacity: 1;
  outline: none;
}

.splide__arrow svg{
  fill:#111c4e !important;
}

.splide__pagination{
  order:2;
  display: flex !important;
  position: relative !important;
  width: calc(100% - 110px);
  bottom: 0 !important;
  height: 40px;
  justify-content: center !important;
  align-items: flex-start !important;
}

.splide__pagination__page{
  outline: none !important;
  background-color: #8c98aa !important;
  opacity: 1 !important;
}

.splide__pagination__page.is-active{
  background-color: #0053bf !important;
  opacity: 1 !important;
}

.splide__track{
  order: 1;
  display: flex !important;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin-right: 100px;
}

.splide__slide{
  width: 100% !important;
}

#section__testimonios .splide__arrow--prev{
  left: unset !important;
  right: 0%;
  top:70px !important;
}

#section__testimonios .splide__arrow--next{
  right: 0% !important;
  top: 10px !important;
}

.id__testimonio{
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  /*background-color: rgb(241, 243, 247);
  padding: 15px;
  border-radius: 10px;*/
}

.id__testimonio > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.id__testimonio h2{
  font-size: 1.6vw;
  margin-bottom: 5px;
  color:#0053bf;
}

.id__testimonio h3{
  margin-bottom: 0px;
}

.id__testimonio img{
  border-radius: 10px;
  width: 80px;
  height: 80px;
  margin-right: 16px;
}

.quote__svg{
  width: 50px;
  height: auto;
  margin-bottom: 10px;
}



/*  Formulario */

#section__contacto{
  padding: 5% 50px;
  background-color: #1f222f;
  margin-top: -3px;
}

#section__contacto .subtitle{
  color:#e0e5ed;
}

#section__contacto h2{
  color:#748fbb;
}

#section__contacto h3{
  color:#748fbb;
  margin-bottom: 0px;
  margin-top: 30px;
}

#section__contacto .col__left{
  width: 35%;
  padding-right: 10%;
}

.bloque__contacto a{
  font-size: 1.1vw;
  line-height: 1.2;
  margin-bottom: 16px;
  font-weight: 400;
  color:#e0e5ed;
}

#section__contacto .col__right{
  width: 55%;
  padding-right: 10%;
}

form{
  width: 100%;
  height: auto;
}

form input{
  width: 100%;
  font-size: 1.2vw;
  padding: 20px 0px;
  border:0;
  border-bottom: 1px solid #748fbb;
  background-color: transparent;
  color:#0053bf;
}

form textarea{
  width: 100%;
  font-size: 1.2vw;
  padding: 20px 0px;
  border:0;
  border-bottom: 1px solid #748fbb;
  background-color: transparent;
  color:#0053bf;
}

form select{
  width: 100%;
  background-color: transparent;
  border:0;
  font-size: 0.9vw;
  border-bottom: 1px solid #748fbb;
  margin-top: 10px;
  font-weight: 300;
  padding: 20px 0px;
  color:#0053bf;
  position: relative;
  width: 100%;
}

.select__wrapper{
  width: 100%;
  height: auto;
  position: relative;
}

.select__wrapper::before{
  content:"";
  position: absolute;
  display: block;
  right: 0px;
  top: 0px;
  width: 50px;
  height: calc(100% - 1px);
  z-index: 5;
  background-color: #e0e5ed;
  background-image: url(../assets/select_arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  pointer-events: none;
}

form input:focus, form textarea:focus{
  outline: none;
  border-bottom: 1px solid #CB4B16;
}

form > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form label{
  font-size: 0.7vw;
  text-transform: uppercase;
  margin-top: 20px;
  color:#e0e5ed;
}

/*  Footer */

#site-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#site-footer .column__1{
  text-align: center;
  align-items: center;
}

#site-footer p{
  font-size: 14px;
}



/*    WORK VIEW   */

.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #1f222f;
  opacity: 0;
  z-index: 1;
  user-select: none;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cursor-follower span{
  font-size: 16px;
  text-transform: uppercase;
  color:#edf0f7;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:3px;
}

.cursor-follower span::after{
  content:"";
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../assets/arrow_btn_red.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#section__hero__work__cat{
  padding: 120px 50px 60px;
  background-color: #1f222f;
}

#section__hero__work__cat h1{
  color:#4d526b;
  text-align: left;
}

#section__hero__work__cat h2{
  font-size: 5vw;
  line-height: 0.8;
  font-weight: 600;
  text-transform: uppercase;
  color:#4d526b;
  text-align: left;
  /*text-shadow: 0px 8px 20px rgba(0,0,0,0.2);*/
}

#section__hero__work__cat h2 span{
  font-size: 10vw;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  color:#c62e26;
}

#section__work__list{
  padding: 0px 50px 30px;
}

#section__work__list .column__1__work__list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.work__list{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-gap: 50px;
  grid-auto-rows: auto;
  padding: 0 8%;
}

.work__list li{
  grid-column: span 4;
  grid-row: span 1;
  margin-bottom: 0%;
  margin-left: 10%;
  opacity: 0;
  transform-origin: center bottom;
}

.work__img__wrappper{
  overflow: hidden;
  border-radius: 10px;
}

.work__list li:nth-child(5n+2){
  grid-column: span 5;
  grid-row: span 1;
  margin-left: 40%;
  margin-top: 30%;
  opacity: 0;
}

.work__list li:nth-child(5n+3){
  grid-column: span 10;
  grid-row: span 1;
  margin-right: 25%;
  margin-left: 45%;
  margin-top: 3%;
  opacity: 0;
}

.work__list li:nth-child(5n+4){
  grid-column: span 4;
  grid-row: span 1;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 40%;
  opacity: 0;
}

.work__list li:nth-child(5n+5){
  grid-column: span 5;
  grid-row: span 1;
  margin-left: 30%;
  opacity: 0;
}

.work__list li:nth-child(5n+6){
  grid-column: span 6;
  grid-row: span 1;
  margin-left: 45%;
  margin-top: 3%;
  opacity: 0;
}

.work__list li a{
  height: auto;
  width: auto;
}

.work__list li a:hover .snippet__image{
  transform: scale(1.15);
}

.work__list .snippet{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.snippet__image{
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-out;
}

.work__list .snippet__description{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
}

.work__list .snippet__description h2{
  color:#111c4e;
  font-weight: 400;
  font-size: 1.3vw;
  margin: 0px;
  padding: 0px;
}

.work__list .snippet__description p{
  color:#748fbb;
  font-weight: 300;
  font-size: 0.8vw;
  margin: 0px;
}

.work__list .snippet__services{
  margin-top: 8px;
}

.work__list .snippet__services span{
  font-size: 0.6vw;
  font-weight: 300;
  line-height: 1;
  border:1px solid #e0e5ed40;
  border-radius: 6px;
  color:#e0e5ed40;
  margin-right: 8px;
  padding: 3px 5px;
}

#section__work__list .work__list .snippet__description h2{
  color:#111c4e;
  position: relative;
  padding-bottom: 2px;
}

.article__work #section__work__list h3{
  width: 30%;
  margin-top: calc(5% - 50px);
  margin-bottom: 5%;
}

.article__work #section__work__list h2{
  width: 70%;
  margin-top: calc(5% - 50px);
  margin-bottom: 5%;
}

.snippet__title__wrapper{
  position: relative;
  height: auto;
  width: auto;
}

.underline__title{
  content:"";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #c62e26;
  left: 0;
  bottom: 0;
  transition: width 0.3s ease-in-out;
}

.work__list a:hover .underline__title{
  width: 100%;
}

#section__work__list .work__list .snippet__description p{
  color:#0053bf;
  font-weight: 300;
  font-size: 0.8vw;
  margin: 0px;
}

.page-branding .work__list .snippet__services, .page-web .work__list .snippet__services, .page-publicidad .work__list .snippet__services{
  margin-top: 5px;
}

.page-branding .work__list .snippet__services span, .page-web .work__list .snippet__services span, .page-publicidad .work__list .snippet__services span{
  border:1px solid #748fbb;
  color:#111c4e;
}

.filter__work{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
  margin-top: -22px;
}

.filter__work ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0px solid #ffffff;
  border-radius: 10px;
  background-color: #f0f4fd;
}

.filter__work li{
  list-style: none;
  display: block;
  position: relative;
}

.filter__work li::after{
  content:"";
  position: absolute;
  width: 22px;
  height: 13px;
  bottom:-12px;
  left: calc(50% - 11px);
  background-image: url(../assets/tab_arrow.svg);
  background-repeat: no-repeat;
  display: none;
}

.filter__work li a, .filter__work li a span{
  font-size: 15px;
  text-transform: uppercase;
  display: block;
}

.filter__work li a{
  padding: 0px 20px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#111c4e;
}

.page-work #filter__all{
  background-color: #d22319;
  border-radius: 10px 0px 0px 10px;
}

.page-work #filter__all span{
  color: #fff;
}

.page-work #filter__all::after{
  display: block;
}

.page-work-branding #filter__branding a{
  background-color: #111c4e;
  color: #fff;
}

.page-work-branding #filter__branding::after{
  display: block;
}

.page-work-web #filter__web a{
  background-color: #111c4e;
  color: #fff;
}

.page-work-web #filter__web::after{
  display: block;
}

.page-work-marketing #filter__marketing a{
  background-color: #111c4e;
  color: #fff;
}

.page-work-marketing #filter__marketing::after{
  display: block;
}

.page-work .work__list li:first-child, .page-work-branding .work__list li:first-child, .page-work-web .work__list li:first-child, .page-work-marketing .work__list li:first-child{
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

.page-work .work__list li:nth-child(2), .page-work-branding .work__list li:nth-child(2), .page-work-web .work__list li:nth-child(2), .page-work-marketing .work__list li:nth-child(2){
  opacity: 1 !important;
  transform: translateY(0px) !important;
}

/*  WORK DETAIL  */

.article__work{
  padding-top: 140px;
}

.article__work section{
  padding: 0px 50px 0px;
}

.main__article__work {
  padding: 50px;
}

.work__title h1{
  font-size: 10vw;
  line-height: 0.9;
  text-transform: uppercase;
  font-weight: 600;
  color:#111c4e;
}

.work__title span, .work__title span a{
  text-transform: uppercase;
  font-weight: 400;
  color: #5966a2;
  letter-spacing: 0.8px;
  font-size: 0.8vw;
  position: relative;
  z-index: 1;
}

.work__title span a:hover{
  text-decoration: underline;
  color:#e1251b;
}

.article__work img{
  width: 100%;
  height: auto;
  border-radius: 0px;
}

.article__work h3{
  text-transform: uppercase;
  font-weight: 400;
  color: #5966a2;
  letter-spacing: 0.8px;
  font-size: 0.9vw;
}

.article__work h2{
  font-size: 1.2vw;
  line-height: 1.6;
  margin-bottom: 16px;
  font-weight: 400;
}

.article__work .col__left{
  width: 25%;
  padding-right: 5%;
}

.article__work .col__right{
  width: 75%;
  padding-left: 5%;
}

.article__work .column__2{
  padding: 4% 0px 3%;
}

#section__work__list p{
  margin-bottom: 0px;
  width: 100%;
}

#section__work__list picture{
  margin-bottom: 50px;
}

#section__prev__next{
  padding: 0px 0px;
  border-top: 1px solid #cfd5e0;
  border-bottom: 1px solid #cfd5e0;
}

#section__prev__next .col__left{
  padding-right: 5%;
  border-right: 1px solid #cfd5e0;
  padding-top: 80px;
  padding-bottom: 80px;
  /*
  border-top: 0px solid #c6cdda;
  background-color: #e9edf6;
  */
}

#section__prev__next .col__right{
  padding-left: 5%;
  text-align: right;
  padding-top: 80px;
  padding-bottom: 80px;
}

.previous__project{
  width: 100%;
  border-radius: 0px 10px 10px 0px;
  transition: background-color 0.3s ease-in-out;
}

.next__project{
  width: 100%;
  border-radius: 10px 0px 0px 10px;
  transition: background-color 0.3s ease-in-out;
}

.next__project:hover{
  background-color: #ebeef5;
}

.previous__project:hover{
  background-color: #ebeef5;
}

.next__prev__wrapper{
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.next__prev__img__wrapper{
  overflow: hidden;
  width: 50%;
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.next__prev__img__wrapper img{
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

#section__prev__next .col__left .next__prev__img__wrapper{
  border-radius: 0px 10px 10px 0px;
  transform: translateX(-30px);
}

#section__prev__next .col__right .next__prev__img__wrapper{
  border-radius: 10px 0px 0px 10px;
  transform: translateX(30px);
}

.next__project:hover .next__prev__img__wrapper{
  transform: translateX(0) !important;
  border-radius: 0px !important;
}

.next__project:hover .next__prev__img__wrapper img{
  transform: scale(1.15);
}

.previous__project:hover .next__prev__img__wrapper{
  transform: translateX(0) !important;
  border-radius: 0px !important;
}

.previous__project:hover .next__prev__img__wrapper img{
  transform: scale(1.15);
}

.next__prev__description__wrapper{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0% 5%;
}

#section__prev__next .col__right .next__prev__description__wrapper{
  align-items: flex-end;
}

.next__project:hover .underline__title{
  width: 100%;
}

.previous__project:hover .underline__title{
  width: 100%;
}

.next__prev__description__wrapper h2{
  color: #0053bf;
  font-size: 1.1vw;
}

.next__prev__description__wrapper h3{
  color: #111c4e;
  font-size: 1.8vw;
  margin-bottom: 8px;
}

.next__prev__description__wrapper p{
  color: #111c4e;
  font-size: 1.1vw;
}

.oscuro article p, .oscuro article h2, .oscuro article span{
  color:#ffffffe0;
}

.oscuro .header__nav li a, .oscuro .header__lang li a{
  color:#ffffffe0;
}

.oscuro #section__header{
  filter: contrast(93%);
}

.oscuro .st10{
  fill:#b4bbc6;
}

.oscuro .submenu{
  background-color:#1f222f;
}

.claro article h2, .claro article span{
  color:#5d5d5d;
}

.claro #section__header{
  filter: contrast(93%);
}

/*    Services   */

.service__wrapper{
  position: relative;
}

#menu__services{
  position: absolute;
  top:0px;
  right: 50px;
  width: 100px;
  z-index: 3;
}

#menu__services li a{
  width: auto;
  height: auto;
  position: relative;
  cursor: pointer;
}

#menu__services li a span{
  height: 35px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 15px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#menu__services li a:hover span{
  opacity: 1 !important;
}

.underline__services{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #111c4e;
  transition: width 0.3s ease-in-out;
  transform-origin: right;
}

#menu__services li a:hover .underline__services{
  width: 100%;
}

#section__hero__services{
  padding: 140px 50px 50px 50px;
  background-color: #c2ccdd;
  position: relative;
  overflow: hidden;
}

#section__hero__services::before{
  content:"";
  background: rgb(87,105,136);
  background: radial-gradient(circle, rgba(87,105,136,1) 0%, rgba(194, 204, 221, 0) 40%);
  position: absolute;
  width: 50%;
  height: auto;
  aspect-ratio: 1/1;
  top: 0;
  right: 5%;
  z-index: 0;
  transform: scale(2.2);
  transform-origin: center;
}

#section__hero__services::after{
  content:"";
  background-color: #e0e5ed;
  width: 100%;
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#section__hero__services .column__2{
  position: relative;
  z-index: 1;
}

.wave{
  position: absolute;
  width: 70%;
  height: 100%;
  background-image: url(/assets/servicios/web/wave.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

#section__hero__services .col__left{
  justify-content: center;
  padding-right: 10%;
  width: 45%;
}

#section__hero__services .col__right{
  width: 55%;
  padding-right: 5%;
}

#section__hero__services .col__right img{
  width: 100%;
  height: auto;
}

.browser__service__wrapper{
  display: flex;
  border:2px solid #606061;
  border-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #252525;
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  width: calc(88% + 4px);
  margin-left: calc(6% - 2px);
  box-shadow: 0px 25px 20px rgba(0,0,0,0.6);
  
}

.laptop__base{
  margin-top: -3px;
}

.banner__service__col__top{
  height: auto;
  width: 100%;
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 5px 5px 0px 0px;
}

.banner__service__col__top img{
  height: 26px !important;
  width: auto !important;
}

.search__bar{
  background-color: #ffffff;
  border: 2px solid #dedede;
  position: relative;
  z-index: 5;
  height: 34px;
  width: 50%;
  padding: 0px;
  border-radius: 100px;
  max-width: 50%;
  background-image: url(/assets/servicios/web/search_icon.svg);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 5px center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.search__bar__p__wrapper{
  width: auto;
  height: 30px;
  margin-left: 50px;
  position: relative;
}

.search__bar p{
  position: relative;
  top: 0px;
  left: 0px;
  margin-bottom: 0px;
  height: 30px;
  width: auto;
  line-height: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#search__p__2{
  top:-30px
}

#search__p__3{
  top:-60px
}

.search__bar__p__wrapper::after{
  content:"";
  top: 5px;
  right: -3px;
  position: absolute;
  background-color: #24326f95;
  width: 2px;
  height: 20px;
  animation-name: tilt !important;
  animation-duration: 1s !important;
  animation-iteration-count: infinite !important;
}

@keyframes tilt {
  0% {opacity: 0;}
  35% {opacity: 1;}
  75% {opacity: 1;}
  100% {opacity: 0;}
}

.banner__service__col__bottom{
  height: auto;
  width: 100%;
  position: relative;
  background-color: #b2b6ba;
}

.search__warning{
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 0;
  font-size: 1.0vw;
  font-style: italic;
}

.banner__service__col__bottom img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner__service__col__bottom img:first-child{
  position: relative;
}

#section__description{
  padding: 5% 250px 8% 50px;
}

#section__description .col__left{
  width: 40%;
  padding-right: 10%;
}

#section__description .col__right{
  width: 60%;
  padding-top: 240px;
}

#section__data__service{
  padding: 0% 250px 6% 50px;
  position: relative;
}

#section__data__service::before{
  content:"";
  position: absolute;
  width: calc(100% - 300px);
  height: 1px;
  bottom: 0;
  left: 50px;
  display: block;
  z-index: 0;
  background-color: #111c4e;
}

#section__data__service .column__1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 100%;
}

.data__banner{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 2px;
  
  padding: 0px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  border:0px solid #cad2db;
}

.data__wrapper{
  width: 100%;
  /*border-right: 1px solid #cad2db;*/
  padding: 50px;
  text-align: center;
  background-color: #d6dbe5;
}

.data__wrapper:first-child{
  border-radius: 10px 0px 0px 10px;
}

.data__wrapper:last-child{
  border-radius: 0px 10px 10px 0px;
}

.data__wrapper h3{
  font-size: 3vw;
  font-weight: 600;
  color: #0053bf;
  margin-bottom: 0px;
}

.data__wrapper p{
  margin-bottom: 0px;
}

#section__process{
  padding: 5% 250px 0% 50px;
}

#section__process h2{
  margin-bottom: 100px;
}

#section__process .col__left{
  width: 50%;
  padding-right: 0%;
}

#section__process .col__right{
  width: 50%;
  padding-left: 5%;
}

.process__step{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner__step{
  border-bottom: 0px solid #c2ccdd;
  margin-bottom: 50px;
  padding-bottom: 50px;
  background-color: #d6dbe5;
  border-radius: 10px;
  padding: 100px 50px;
  position: relative;
}

.inner__step::before{
  content:"";
  position: absolute;
  display: block;
  height: 50px;
  width: 42px;
  top: calc(50% - 25px);
  right: -40px;
  background-color: #d6dbe5;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.process__step h3{
  font-size: 1.6vw;
  color: #0053bf;
}



.process__step:last-child{
  border-bottom: 0px solid #0053bf;
  margin-bottom: 20vh;
}

.step__art{
  width: 90%;
  height: auto;
  max-height: 70vh;
}

.step1__svg, .step2__svg, .step3__svg, .step4__svg{
  position: absolute;
  width: 100%;
  height: auto;
}

.step__art svg{
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 5%;
  object-fit: contain;
}

.step1__svg svg:first-child, .step2__svg svg:first-child, .step3__svg svg:first-child, .step4__svg svg:first-child{
  position: relative;
}

#section__why{
  padding: 10% 250px 10% 50px;
  background-color: #1f222f;
}

#section__why .col__left{
  width: 70%;
}

#section__why .col__right{
  width: 30%;
}

#section__why h3{
  color:#e0e5ed;
}

#section__why #frase{
  font-size: 3.2vw;
  line-height: 1.2;
  font-weight: 400;
  position: relative;
  color:#a5afbb !important;
}

.page-services #section__work__list{
  padding-top: 5%;
}

.page-services .work__list{
  padding: 80px 50px 5%;
}

#section__faq{
  padding: 7% 250px 7% 50px;
  background-color: #c9dcf4;
}

#section__faq .col__left{
  width: 30%;
}

#section__faq .col__right{
  width: 70%;
  padding-left: 7%;
  padding-right: 2%;
}

.accordion{
  width: 100%;
}

.accordion__item {
	margin: 5px auto;
  border-bottom: 1px solid #c62e26;
}
.accordion__item .accordion__title {
	position: relative;
	display: block;
	padding: 30px 60px 30px 0px;
	margin-bottom: 2px;
	color: #202020;
	text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  transition: color 0.2s ease-in-out;
}
.accordion__item .accordion__title:hover {
	color: #0053bf;
}
.accordion__item .accordion-active {
	color: #0053bf;
}
.accordion__item .accordion__title .accordion__arrow {
	position: absolute;
	top: calc(50% - 15px);
  right: 0px;
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 20px;
	font-weight: 700;
	margin-right: 5px;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.accordion__item .accordion__rotate {
	transform: rotate(135deg);
}
.accordion__item .accordion__content {
	padding: 0px 60px 15px 0px;
	margin-bottom: 2px;
	font-size: 14px;
	display: none;
	background-color: transparent;
  border-bottom: 0px solid #0053bf;
}

.accordion__content p{
  font-size: 1vw;
}

.accordion__item .accordion__arrow-item {
	font-weight: 700;
  line-height: 0;
  background-image: url(/assets/cross_accordion.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center center;
  width: 26px;
  height: 26px;
}




/*  About  */

#section__hero__about{
  padding: 140px 50px 3%;
}

#section__hero__about .column__2:first-child{
  margin-bottom: 80px;
}

#section__hero__about .column__2:last-child .col__left{
  padding-right: 25px;
  width: 65%;
}

#section__hero__about .column__2:last-child .col__right{
  padding-left: 25px;
  width: 35%;
}

#section__hero__about .column__2:last-child .col__right img{
  height: 80%;
  width: auto;
  object-fit: cover;
}

#section__hero__about img{
  width: 100%;
  height: auto;
  border-radius: 20px;
}

#section__motivacion{
  padding: 5% 50px 5%;
}

#section__motivacion .col__left{
  width: 40%;
  padding-right: 0%;
}

#section__motivacion .col__right{
  width: 60%;
  padding-left: 5%;
  justify-content: center;
}

#section__motivacion .col__left img{
  min-height: 80vh;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

#section__values{
  padding: 5% 50px 5%;
}

#section__values .col__left{
  width: 40%;
  padding-right: 10%;
}

#section__values .col__right{
  width: 60%;
  padding-left: 0%;
  justify-content: flex-end;
}

.value__list{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
  grid-gap: 50px;
  grid-auto-rows: auto;
  padding: 0%;
}

.value{
  grid-column: span 4;
  grid-row: span 1;
  margin-bottom: 0%;
  margin-left: 0%;
  width: 100%;
  /*border-right: 1px solid #748fbb;*/
  padding: 5%;
  border-radius: 10px;
  background-color: #e7ebf2;
}

.value img{
  margin-bottom: 50px;
}

.value h2{
  font-size: 1.4vw;
}

.value p{
  font-size: 1.1vw;
}

#section__divisor__team img{
  width: 100%;
  height: auto;
  transform: scale(1);
  transform-origin: bottom center;
}

#section__why__name{
  margin-top: -3px;
  background-color: #1f222f;
  color:#7c93b5;
  padding: 5% 0px 8% 50px;
}

#section__why__name .col__left{
  width: 70%;
  padding: 5% 0% 0%;
}

#section__why__name .col__right{
  width: 30%;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 5%;
  position: relative;
}

#marker__red{
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

#marker__paint{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 5vw;
  z-index: 0;
}

#section__why__name h3{
  color:#e0e5ed;
}

#section__why__name p{
  font-size: 2.6vw;
  line-height: 1.3em;
}

#why > div{
  overflow: hidden;
}

#section__team{
  padding: 0% 0px 5%;
  background-color: #1f222f;
  margin-top: -3px;
}

#section__team .column__1:first-child{
  padding: 0px 50px 30px;
}

#section__team h3{
  color:#e0e5ed;
}

.team__list{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  grid-gap: 0px;
  grid-auto-rows: auto;
  border-top: 1px solid #424760;
}

.team__list li{
  grid-column: span 3;
  grid-row: span 1;
  margin-bottom: 0%;
  margin-left: 0%;
  width: 100%;
  border-right: 1px solid #424760;
  border-bottom: 1px solid #424760;
  padding: 50px;
}

.team__list li img{
  border-radius: 10px;
}

.team__description{
  padding: 20px 0px 0px;
}

.team__title{
  font-size: 1.2vw;
  color:#a5afbb;
  margin-bottom: 0px;
}

.team__position{
  font-size: 1vw;
  color:#748fbb;
  margin-bottom: 0px;
}

/*  BLOG  */

#section__hero__blog{
  padding: 120px 50px 60px;
  background-color: #1f222f;
}

#section__hero__blog h1{
  color:#4d526b;
  text-align: left;
}

#section__hero__blog h2{
  font-size: 5vw;
  line-height: 0.8;
  font-weight: 600;
  text-transform: uppercase;
  color:#4d526b;
  text-align: left;
}

#section__hero__blog h2 span{
  font-size: 10vw;
  line-height: 1;
  font-weight: 600;
  text-transform: uppercase;
  color:#c62e26;
}

#section__filter{
  padding: 30px 50px;
}

.filter__select{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filter__select span{
  font-size:20px;
}

.select__dropdown {
  width: 330px;
  height: 44px;
  background: #ffffff;
  border-radius: 0px;
  position: relative;
  border:0px solid #0053bf;
  margin-left: 10px;
}

.select__dropdown::before {
  content: "";
  position: absolute;
  right: 14px;
  top: 13px;
  z-index: 6;
  width: 11px;
  height: 11px;
  border: 2px solid #0053bf;
  border-top: transparent;
  border-right: transparent;
  transform: rotate(-45deg);
  pointer-events: none;
  transition: all 0.3s linear;
}

.select__dropdown input {
  width: 100%;
  height: 100%;
  padding: 0px 14px;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  z-index: 5;
  border:2px solid #0053bf;
}

.select__dropdown input::placeholder {
  color: #111c4e;
  opacity: 1; /* Firefox */
}

.select__dropdown input::-ms-input-placeholder { /* Edge 12 -18 */
  color: #111c4e;
}

.select__dropdown .options {
  margin: 0;
  width: 100%;
  border-radius: 0px;
  padding: 0px;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 18px;
  overflow: hidden;
  position: absolute;
  top: 44px;
  transition: all 0.5s ease;  
  background-color:#0071ce;
  border-left: 2px solid #0053bf;
  border-bottom: 2px solid #0053bf;
  border-right: 2px solid #0053bf;
  opacity: 0;
  transform: translateY(-50px);
  visibility: hidden;
  z-index: 4;
  list-style: none;
}

.select__dropdown .options .option {
  transition: all 0.2s ease;
  height: auto;
  
}

.select__dropdown a{
  color:#d1def4;
  padding: 0px 14px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.select__dropdown .options .option:not(:last-of-type) {
  margin-bottom: 0px;
  border-bottom: 1px solid #005eaa;
}

.select__dropdown .options .option:hover {
  background: #0053bf;
}

.select__dropdown .options .option:hover a{
  color:#fff;
}

.select__dropdown.opened .options {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  z-index: 4;
}

.select__dropdown.opened::before {
  transform: rotate(-225deg);
  top: 19px;
  border-color: #c62e26;
}

.lang-es .select__dropdown a span:nth-child(2){
  display: none;
}

.lang-en .select__dropdown a span:nth-child(1){
  display: none;
}

.blog__list{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
  grid-gap: 0px;
  grid-auto-rows: auto;
  border-top: 1px solid #424760;
}

.blog__list li{
  grid-column: span 3;
  grid-row: span 1;
  margin-bottom: 0%;
  margin-left: 0%;
  width: 100%;
  border-right: 1px solid #424760;
  border-bottom: 1px solid #424760;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.blog__snippet{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.blog__snippet >div:first-child{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.blog__snippet >div:last-child{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.blog__snippet >div:last-child > div{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.blog__snippet__cat{
  font-size: 0.65vw;
  text-transform: uppercase;
  color:#c62e26;
  margin-bottom: 20px;
  display: block;
}

.blog__snippet__title{
  color:#111c4e;
  font-size: 1.4vw;
  margin-bottom: 30px;
  display: block;
}

.blog__snippet__description{
  font-size: 0.9vw;
  height: 100%;
}

.blog__snippet__image{
  border-radius: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  filter: grayscale(1);
  transition: filter 0.2s ease-in-out;
}

.blog__snippet:hover .blog__snippet__image{
  filter: none;
}

.blog__snippet__author{
  font-size: 14px;
}

.blog__snippet__author span{
  font-size: 14px;
  color: #0053bf;
}

/*  BLOG DETAIL */

#section__article__hero{
  padding-top: 130px;
  background-color: #e9edf6;
}

#section__article__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  background-color: #e9edf6;
}

#section__article__content .column__1{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog__breadcrumb{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.blog__breadcrumb a{
  font-size: 17px;
  text-align: center;
  color:#c62e26;
  text-transform: uppercase;
  text-decoration: underline;
}

.blog__breadcrumb span{
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 5px;
}

.lang-es h2 span:nth-child(2){
  display: none;
}

.lang-en h2 span:nth-child(1){
  display: none;
}

#section__article__hero h1{
  font-size: 60px;
  text-align: center;
  margin: 0px;
}

.blog__tags{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.blog__tags p{
  font-size: 18px;
  color:#8592a8;
}

.blog__tags span{
  font-size: inherit;
  font-weight: 400;
  padding: 3px 5px;
  border-radius: 6px;
  border: 1px solid #8592a8;
  margin-right: 6px;
  text-transform: capitalize;
}

.blog__tags span:first-child, .blog__tags span:nth-child(2){
  display: none;
}

#section__article__content img{
  border-radius: 10px;
  width: 100%;
  height: auto;
}

#section__article__content em{
  font-size: 18px;
  line-height: 1.4 !important;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  padding-left: 16px;
}

#section__article__content em::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 3px;
  background-color: #c62e26;
  margin-right: 8px;
}

#section__article__content p{
  border-left: 1px solid #c2ccdd;
  border-right: 1px solid #c2ccdd;
  margin: 0px;
  padding: 0px 50px 50px;
  font-size: 28px;
  margin: 0px 100px;
  max-width: 1200px;
  width: 100%;
}

#section__article__content ol{
  border-left: 1px solid #c2ccdd;
  border-right: 1px solid #c2ccdd;
  margin: 0px;
  padding: 0px 50px 50px;
  font-size: 28px;
  margin: 0px 100px;
  max-width: 1200px;
  width: 100%;
}

#section__article__content ol li{
  margin-left: 25px;
}

#section__article__content h2{
  border-left: 1px solid #c2ccdd;
  border-right: 1px solid #c2ccdd;
  margin: 0px 0px 0px;
  padding: 0px 50px 50px;
  font-size: 44px;
  color:#0053bf;
  width: 100%;
  max-width: 1200px;
}

#section__article__content p:first-child{
  border-left: 0px solid #c2ccdd;
  border-right: 0px solid #c2ccdd;
  padding: 0px 0px 0px;
  margin: 0px 0px 100px;
  max-width: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#section__article__content p:first-child img{
  max-width: 1400px;
}

#section__article__caller{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  background-color: #e9edf6;
}

#section__article__caller .column__1{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section__article__caller p{
  border-left: 1px solid #c2ccdd;
  border-right: 1px solid #c2ccdd;
  margin: 0px;
  padding: 0px 50px 100px;
  font-size: 28px;
  margin: 0px 100px;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#section__article__footer{
  background-color: #e9edf6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #c2ccdd;
}

#section__article__footer .column__2{
  border-top: 1px solid #c2ccdd;
  border-left: 1px solid #c2ccdd;
  border-right: 1px solid #c2ccdd;
  max-width: 1200px;
  width: 100%;
}

#section__article__footer .col__left{
  border-right: 0px solid #c2ccdd;
  padding: 50px;
}

#section__article__footer .col__right{
  padding: 50px;
  align-items: flex-end;
}

#section__article__footer h2{
  font-size: 16px;
  margin-bottom: 0px;
}

#section__article__footer h2 span{
  font-size: 16px;
  margin-bottom: 0px;
  text-transform: uppercase;
  color: #0053bf;
}

#section__article__footer p{
   font-size: 24px;
}

.social__share{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  gap: 2px;
}

.page-blogAll #section__prev__next{
  background-color: #e9edf6;
}

.page-blogAll .next__prev__img__wrapper img{
  min-height: 500px;
  object-fit: cover;
}

.page-blogAll #section__prev__next h3{
  font-size: 1.3vw;
}

.page-blogAll .snippet__title__wrapper{
  border-bottom: 0px solid #0053bf;
  margin-bottom: 5px;
}

.page-blogAll #section__prev__next p{
  text-transform: uppercase;
  font-size: 16px;
  color:#c62e26;
}

.page-blogAll .previous__project:hover {
  background-color: #f3f5f9;
}

.page-blogAll .next__project:hover {
  background-color: #f3f5f9;
}


/*  Footer */

#footer__contacto{
  padding: 5% 50px;
  border-top: 0px solid #c6cdda;
  background-color: #e9edf6;
}

#footer__contacto .col__left{
  padding-right: 10%;
}

#footer__contacto .col__left h2{
  font-size: 1.2vw;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 0px;
}

#footer__contacto .col__left a{
  font-size: 1.2vw;
  line-height: 1.6;
  color: #111c4e;
  margin-bottom: 30px;
}

#footer__contacto .col__right{
  padding-right: 10%;
}

#footer__contacto p{
  font-size: 1.9vw;
  line-height: 1.2;
  font-weight: 400;
}

#footer__contacto a{
  font-size: 1.9vw;
  line-height: 1.2;
  font-weight: 400;
  color:#0053bf;
  transition: color 0.2s ease-in-out;
}

#footer__contacto a:hover{
  color:#c62e26;
}

.link__wrapper{
  position: relative;
  width: fit-content;
  display: block;
}

.link__wrapper:hover .underline__title{
  width: 100%;
}

#section__footer__menu{
  padding: 5% 50px 8%;
  border-top: 1px solid #cfd5e0;
  background-color: #e9edf6;
}

.menu__footer h2{
  font-size: 1.2vw;
  line-height: 1.6;
  font-weight: 500;
}

.menu__footer a, .menu__footer a span{
  font-size: 1.2vw;
  line-height: 1.6;
  color:#111c4e;
  transition: color 0.2s ease-in-out;
}

.menu__footer a:hover, .menu__footer a:hover span{
  color: #c62e26;
}

#section__footer__menu .col__left{
  padding-right: 10%;
}

#section__footer__menu .col__left form{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#section__footer__menu label{
  color: #111c4e;
}

#section__footer__menu form > div {
  width: 100%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

#section__footer__menu form > div:nth-child(3) {
  width: auto;
}

#section__footer__menu .col__right{
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap:20px;
  padding-right: 10%;
}

#site__footer{
  margin-top: -3px;
  padding: 50px;
  border-top: 1px solid #cfd5e0;
  background-color: #e9edf6;
}

#site__footer span{
  font-size: 0.8vw;
}

#site__footer > div > span{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

#site__footer a{
  color: #111c4e;
  text-decoration: underline;
}

.foot-es span:first-child{
  display: block;
}

.foot-es span:last-child{
  display: none;
}

.foot-en span:first-child{
  display: none;
}

.foot-en span:last-child{
  display: block;
}