---
title: About us
description: Nos especializamos en comunicación visual
seodescription: Somos una agencia creativa especializada en comunicación, marketing, diseño y publicidad y conformada por un equipo multidisciplinario.
seokeywords: branding, marketing, marker, logo, logotipo, brand, publicidad, merida, yucatan, mexico
bodyClass: about
layout: 'base.njk'
barba: index
label: en
---

<div data-barba="container" data-barba-namespace="about" data-css="about" data-js="about">
  <section id="section__hero__about">
    <div class="column__2">
      <div class="col__left">
        <h1>Creative agency specializing in branding and communication</h1>
        <h2>
          At Marker, you’ll find a multidisciplinary team passionate
          about what we do and driven by what we can achieve for your brand.
        </h2>
        <button class="btn btn__hero">Learn more about us</button>
      </div>
      <div class="col__right">
      </div>
    </div>
    <div class="column__2">
      <div class="col__left">
        {{ "/assets/about/about_hero.jpg" | responsiveImage("Somos una agencia especializada en diseño y comunicación visual") | safe }}
      </div>
      <div class="col__right">
        {{ "/assets/about/about_hero_b.jpg" | responsiveImage("Creamos estrategias para posicionar tu marca") | safe }}
      </div>
    </div>
  </section>

  <section id="section__intro">
    <div class="column__2 column__intro">
      <div class="col__left">
        <h3 class="subtitle">Who we are & what we do</h3>
        <h2 id="frase">
          We are a creative agency founded in 2019 with the vision of
          helping businesses achieve market positioning through effective
          and relevant communication tailored to their audience.

          We achieve this through strategies designed to identify and understand the
          target consumer, their values, and what they seek in return. This allows us
          to help companies shape their personality and offerings, increasing
          their appeal during the purchasing journey.
        </h2>
      </div>
      <div class="col__right">
      </div>
    </div>
  </section>

  <section id="section__motivacion">
    <div class="column__2">
      <div class="col__left">
        {{ "/assets/about/about_motivation.jpg" | responsiveImage("Nos apasiona cada nuevo proyecto de branding") | safe }}
      </div>
      <div class="col__right">
        <h3 class="subtitle">What drives us</h3>
        <h2 class="title">
          Challenges... and branding is one of them. We’re driven to approach each project independently
          and comprehensively because no two brands are the same. From their vision, values, products,
          and services to their operations and unique way of doing things, every element is part
          of the equation to achieve a successful result.
        </h2>
        <h2 class="title">
          We’re passionate about creating strategies alongside you that capture the attention
          of those seeking what you offer. Our goal is to help you deliver the best
          version of yourself to your clients.
        </h2>
      </div>
    </div>
  </section>

  <section id="section__values">
    <div class="column__2">
      <div class="col__left">
        <h3 class="subtitle">Our core values</h3>
        <h2 class="title">
          At Marker, we are guided by core values that are an integral part of
          our essence in every project we undertake.
        </h2>
      </div>
      <div class="col__right">
        <ul role="list" class="value__list">
          <li class="value">
            <img src="/assets/about/valor_compromiso.svg" alt="Somos una agencia creativa con compromiso" loading="lazy" />
            <div>
              <h2>Commitment</h2>
              <p>
                We are a team defined by our unwavering dedication to delivering the best possible
                results for our clients, ensuring their brand’s needs are fully met.
              </p>
            </div>
          </li>
          <li class="value">
            <img src="/assets/about/valor_honestidad.svg" alt="La honestidad es un pilar en nuestro servicio" loading="lazy" />
            <div>
              <h2>Honesty</h2>
              <p>
                Trust is a fundamental virtue in all our client relationships. The information you share
                about your brand will always be handled with complete discretion and security.
              </p>
            </div>
          </li>
          <li class="value">
            <img src="/assets/about/valor_calidad.svg" alt="Creamos proyectos de branding y marketing con calidad" loading="lazy" />
            <div>
              <h2>Quality</h2>
              <p>
                Our work is methodical, carried out in stages to ensure results that meet and
                exceed expectations. Our attention to detail makes all the difference.
              </p>
            </div>
          </li>
          <li class="value">
            <img src="/assets/about/valor_creatividad.svg" alt="Creamos soluciones creativas para las empresas" loading="lazy" />
            <div>
              <h2>Creativity</h2>
              <p>
                We think outside the box, seeking alternative solutions that effectively address each
                brand’s challenges. We love to create while always maintaining a practical perspective.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="section__divisor__team">
    <div class="column__1">
      {{ "/assets/about/about_divisor.jpg" | responsiveImage("Somos un equipo creativo multidisciplinario") | safe }}
    </div>
  </section>

  <section id="section__why__name">
    <div class="column__2">
      <div class="col__left">
        <h3 class="subtitle">The origin of the name Marker</h3>
        <p id="why">A Marker (highlighter or pen) is used to emphasize the most important parts of a book in a sea of words.
          Our name is a metaphor for what we offer: helping businesses stand out from their competition by creating
          strategies that result in a memorable brand capable of effectively communicating its value
          proposition to a well-segmented audience.
        </p>
      </div>
      <div class="col__right">
        <div id="marker__red">
          {{ "/assets/about/marker_red.png" | responsiveImage("Somos MARKER branding y creamos marcas memorables") | safe }}
        </div>
      </div>
    </div>
  </section>

  <section id="section__team">
    <div class="column__1">
      <h3 class="subtitle">Who makes up Marker</h3>
    </div>
    <div class="column__1">
      <ul role="list" class="team__list">
        {%- for team in collections.team -%}
          {% include 'team-snippet.njk' %}
        {%- endfor -%}
      </ul>
    </div>
  </section>

</div>