---
title: Branding, Marketing & Web Design Blog
description: Insights and articles on branding, design, digital strategy and communication.
seodescription: Discover useful articles on brand identity, logo design, digital marketing, creative communication and web development. Insights to help your brand grow.
seokeywords: branding blog, marketing insights, logo design articles, digital strategy, creative communication, web design blog, brand development, marker, mexico
bodyClass: blog
layout: 'base.njk'
barba: blog
label: en
locale: en
---

<div data-barba="container" data-barba-namespace="blog" data-css="blog" data-js="blog">

  <section id="section__hero__blog">
    <div class="column__2">
      <div class="col__left">
        <h1>Blog on branding, web, marketing, and advertising</h1>
        <h2>All about branding, web, and marketing.</h2>
      </div>
      <div class="col__right">
        
      </div>
    </div>
  </section>

  <section id="section__filter">
    <div class="column__1">
      <div class="filter__select">
        <span>Browse articles by category:</span>
        <div class="custom-select">
          {% include 'filter.njk' %}
        </div>
      </div>
    </div>
  </section>

  <section id="section__articles">
    <div class="column__1">
      <ul role="list" class="blog__list flow">
        {%- for blog in collections.blog_en | reverse -%}
          {% include 'blog-snippet.njk' %}
        {%- endfor -%}
      </ul>
    </div>
  </section>
  
</div>