---
title: Enfoque
description: Rebranding para una empresa desarrolladora de proyectos inmobiliarios
bodyClass: enfoque
layout: 'base.njk'
barba: index
label: en
---


  <section id="section__hero">
    <div class="column__2 column__hero__1">
      <div id="logoScale__container" class="col__left">
        <img id="logoMarkerScale" src="./assets/marker_logo.svg" alt="MARKER branding" />
      </div>
      <div class="col__right">
        <p class="branding__word">branding</p>
      </div>
    </div>
    <div class="column__2 column__hero__2">
        <div class="col__left">
          <h1>Somos una agencia de branding en Mérida</h1>
          <h2>Creamos estrategias para construir marcas</h2>
          <h2>profesionales</h2>
          <a class="btn btn__hero">Conoce nuestro enfoque</a>
        </div>
        <div class="col__right">
          <video id="videoHero" width="320" height="240" autoplay muted loop>
            <source src="./assets/enfoque/video_prueba.mp4" type="video/mp4">
            <!--<source src="movie.ogg" type="video/ogg">-->
              Tu navegador no puede reproducir este video, considera actualizarlo a una versión más reciente
          </video> 
        </div>
    </div>
  </section>

  <section id="section__intro">
    <div class="column__2 column__intro">
      <div class="col__left">
        <h3 class="subtitle">Enfoque</h3>
        <h2>Somos una agencia de Branding conformada por creativos y nos apasiona el aspecto gráfico, funcional y estético de las cosas.
          Somos una agencia de Branding conformada por creativos y nos apasiona el aspecto gráfico, funcional y estético de las cosas.</h2>
      </div>
      <div class="col__right">
        
      </div>
    </div>
  </section>

  <section id="section__metodologia">
    <div class="column__1">
      <h3 class="subtitle">Metodología</h3>
    </div>
    <div class="column__2 column__metodologia">
      <div class="col__left">
        <div id="canvas">
          <div id="botella__real">
            <svg version="1.1" id="botella__trazo__svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 900 900" style="enable-background:new 0 0 900 900;" xml:space="preserve">
              <style type="text/css">
                .st0{fill:none;stroke:#20254A;stroke-miterlimit:10;}
                .st1{fill:none;stroke:#20254A;}
              </style>
              <path class="st0" d="M169.6,124.3c0,0-9.1,0.3-12.9-5.2c-3.3-4.7-16.7-28.1-14.9-35.6c1.5-6.3,4.4-13.2,10.8-19.6
                c6.4-6.4,33.9-33.4,72.4-48.6s64.3-15.7,73.5-11.9c2.9,1.5,5.9,5.3,7.7,9.2c1.8,4,11.7,21.4,11.2,25.5s-3.5,10.6-6.2,11.4
                c3.1,2.6,6.4,8.1,3.3,16.1c3.3,5.7,23.8,33.7,55.3,57.2s65.4,50.2,100.7,85.5s55.2,64.1,89.5,131.8
                c34.3,67.7,133.4,257.6,153.2,296.3c19.8,38.6,44.3,78.9,43.3,102.4c-1,23.4-5,38-45.2,64.1c-40.3,26.1-90.5,54.8-167.8,85.9
                s-94.1-16.8-101.7-29.1s-147-297.2-169.4-341.5c-22.5-44.3-54.8-103.7-66.7-167.8c-11.9-64.1-8.6-102.4-10.6-138.7
                s-6.3-69.4-11.2-75.3C179,136.9,170.5,131.5,169.6,124.3z"/>
              <path class="st0" d="M307.6,46.7c0,0,8.8-7.5-2.9-12.1s-57,9.2-72,16.5c-15,7.3-49.5,27.6-60.3,39.9c-7.9,9-14.3,16.1-10.1,23.1
                c4.2,7,8.1,5.7,8.1,5.7"/>
              <path class="st0" d="M181.9,127.7c-0.5-3.5-6.5-12.1,28.2-36.3s62.6-34.7,80-35.8c18.1-1.1,19.1,3.2,19.1,7.6"/>
              <path class="st0" d="M234.8,440.8c0,0-3.6-6.9,9.8-22.1s45.1-50.4,133.2-93.1c77.5-37.7,105.9-39.4,135.9-39.4
                c17.3,0,20.2,4.9,20.2,4.9"/>
              <path class="st0" d="M427.3,830.5c0,0-3.7-6.9,10.1-22.1c13.8-15.2,49.3-41.7,137.2-88.8c48.1-25.8,108.8-49.4,139.7-49.4
                c17.8,0,19.3,4.8,19.3,4.8"/>
              <path class="st0" d="M487.5,893c1.7-5.3,8.6-24.6,70.7-61.1c62.1-36.5,98.7-52.3,138.7-65.4c35.7-11.7,47-8.1,51.5-6.6"/>
              <path class="st0" d="M237,429.3c0,0-20.8-51.1-26.1-87c-5.4-37-8.2-55.9-8.6-76.6c-0.4-20.7-0.8-61.2-2.5-71.3
                c8.4-9.2,34.7-39.2,68.1-53.7s60.3-24.2,84.1-24.6c9.2,9.2,38.2,29.5,56.7,45.1c18.4,15.6,60.8,53.7,80.6,77.1
                c12.1,14.2,18.9,25.7,35.5,48.8"/>
              <path class="st0" d="M429.4,819.5c0,0,21.3,48.1,36.8,59.8c15.6,11.7,20-1.7,30-11.7"/>
              <path class="st0" d="M198.8,132.1c0,0,33.1-5.9,60.1-21.7s40.8-27.7,45.3-35"/>
              <path class="st0" d="M438.5,663.4c-36.6,75.8-24,131.3-24,131.3"/>
              <path class="st0" d="M542,484.1c0,0,28.4-43.7,32.8-54.7s16.1-29,13.3-34.6"/>
              <path class="st0" d="M397.6,584.2c0,0,2,25.8,9.6,42.9s15.5,25.4,21.1,29.4c5.6,4,19.9,9.2,22,12.6c2.1,3.3,10,13.5,14,7.9
                c4-5.6,7.3-11.2,12.2-14.9c5-3.6,23.8-10.9,27.4-35.7c3.6-24.8,2.5-33.5,1.3-42.3c-4.3-18.6-8.3-36.3-25.8-52.2
                c-17.5-15.9-39.6-17.2-45.6-16.8"/>
              <path class="st0" d="M502.9,567.4c0,0-3.5-25.3,3.8-35.4c7.3-10.1,18.6-28.2,40-26c21.4,2.2,37.1,14,43.9,23.9s19,25.8,17.6,48.9
                c-1.4,23.1-11.3,22.4-12.3,26s-23.6,13-36.9,10.6c-13.3-2.4-31.3-3.4-40.5-16.4C509.4,586,506.7,585.8,502.9,567.4z"/>
              <path class="st0" d="M568.5,512c-21.1-4-34.8-7.9-47.1,6c-12.3,13.8-15.2,15.8-15,26.8c0.3,11.1-4,22.2,3.7,31.6
                s15.4,24.6,20.7,27.7s25.1,11.6,33.2,9.6c8.2-1.9,20.9-2.8,29.6-9"/>
              <path class="st0" d="M526.4,526.3c0,0,28.4,27.1,31,31.7"/>
              <path class="st0" d="M513.6,550.1c0,0,38.2,8,43.9,9.8"/>
              <path class="st0" d="M525.2,588.8c4.3-3.1,8.8-6.5,12.3-10.5c1.1-1.3,4.7-5.2,6-6.3c1.1-1,2.4-1.7,3.6-2.5c3.5-2,7.7-6,11.2-8"/>
              <path class="st0" d="M548.7,602.3c3.9-7.6,3.2-14.2,5.6-22.4c1.2-4.2,2.4-7,3.1-9.7c0.7-2.6,1.5-5.3,2.4-7.9"/>
              <path class="st0" d="M573.7,604.2c-2.3-11.2-6.9-17.3-9.2-28.6c-0.3-1.2-2.8-12.3-3.6-13.3"/>
              <path class="st0" d="M595.4,593c-6.8-5.6-12.9-10.8-18.9-17.7c-2.7-3.1-10.8-11-14.4-13"/>
              <path class="st0" d="M600.9,570.2c-10.9-4-25.8-6.2-37-9.4"/>
              <path class="st0" d="M573.4,520.7c-5.5,12.6-8.5,22.1-11.8,36"/>
              <path class="st0" d="M598.6,545.4c-11.3,5.3-23.7,9.2-35.5,13.2"/>
              <path class="st0" d="M550.1,516.1c0,14.9,4.2,24.7,8.4,40.6"/>
              <path class="st0" d="M428.7,487.8c0,0,11.9,15.7,5.3,27.1c-6.6,11.4-8,15.2-10.6,21.5c-2.7,6.4-10.1,21.2-14.1,25.5
                c-4,4.2-10.1,17.5-12.7,20.5c-2.7,2.9-15.7,14.9-15.7,19.9c-2.1-4.2-4.8-10.6-7.2-24c-2.4-13.4-2.1-49.3,3.7-58.6
                c5.8-9.3,10.5-20.7,23.6-26.8c13.1-6.1,20.2-6.9,22.9-6.9s10.4,1.1,10.4,1.1"/>
              <path class="st0" d="M436.1,491.8c0,0-5.2-8,0.8-10.6c6-2.7,7.8-0.3,17.1,2.9c9.3,3.2,37.7,12,41.4,12.2
                C499.1,496.5,449.7,501.3,436.1,491.8z"/>
              <path class="st0" d="M454,484.1c0,0,13.5-7.2,18.8-11.1c5.3-4,17.8-6.4,25.8-2.9c8,3.5,15.4,9.6,15.5,16.7c0.1,7.2-0.1,8-0.3,11.9
                c-0.1,4-0.3,5.8-0.3,5.8s-7-5.4-18.2-8.2"/>
              <path class="st0" d="M449.1,482.3c0,0,17.3-14.5,38.9-14.8c21.6-0.3,33.7,5,45.5,12.8s12.8,4.5,19.7,8.2s7.8,8.3,1.9,19"/>
              <g>
                <path class="st1" d="M301.8,415.4c7.8-5.3,15.6-10.3,23.4-15.2c1.4,2.6,2.8,5.2,4.1,7.9c-4.9,3-9.7,6.1-14.6,9.3
                  c2.7,5.1,5.4,10.1,8.1,15.2c3.8-2.5,7.7-4.9,11.5-7.3c1.4,2.6,2.8,5.1,4.2,7.7c-3.8,2.4-7.7,4.8-11.5,7.3c4.3,7.8,8.6,15.5,13,23.2
                  c-3,1.9-6,3.9-9.1,5.9C321,451.7,311.3,433.8,301.8,415.4z"/>
                <path class="st1" d="M329.5,397.6c4.4-2.7,8.7-5.2,13-7.8c4.5-2.6,8.4-3.4,11.6-2.5c3.2,0.9,5.9,3.5,8.3,7.8
                  c0.6,1.1,1.2,2.2,1.8,3.4c3.1,5.7,3.2,10.2,0.2,13.9c0,0.1,0.1,0.1,0.1,0.2c2.5-0.6,4.7-0.1,6.7,1.3c2,1.4,3.8,3.7,5.7,6.9
                  c1.8,3.1,3.6,6.3,5.4,9.4c0.9,1.5,1.7,2.7,2.3,3.6c0.7,0.9,1.5,1.7,2.4,2.3c-3,1.6-6.1,3.3-9.1,4.9c-0.8-0.7-1.5-1.4-2.1-2.1
                  c-0.6-0.7-1.4-2-2.6-4c-1.9-3.2-3.8-6.5-5.6-9.8c-1.4-2.5-2.8-3.9-4.2-4.4c-1.4-0.5-3.1-0.2-5.1,1c-1,0.6-2.1,1.2-3.1,1.8
                  c4.3,7.7,8.7,15.3,13.1,22.9c-3,1.7-6,3.5-9,5.3C349.1,434,339.1,416,329.5,397.6z M354.1,413.9c1.8-1,2.9-2.2,3.3-3.6
                  c0.4-1.4,0-3.1-1.1-5.2c-0.8-1.4-1.5-2.8-2.3-4.2c-1.1-2-2.2-3.2-3.4-3.7c-1.2-0.5-2.6-0.3-4.1,0.6c-1.3,0.8-2.7,1.5-4,2.3
                  c2.8,5.2,5.6,10.4,8.5,15.6C352,415.2,353.1,414.5,354.1,413.9z"/>
                <path class="st1" d="M393.7,429c-3.6-1.1-6.7-3.8-9.2-8.2c-7.9-13.6-15.6-27.4-23.2-41.4c2.9-1.6,5.8-3.1,8.7-4.6
                  c7.7,14.2,15.6,28.3,23.7,42.1c1.1,1.8,2.2,3,3.5,3.4c1.3,0.4,2.6,0.3,4.1-0.4c1.5-0.7,2.3-1.7,2.6-2.9c0.3-1.2-0.1-2.7-1.2-4.5
                  c-8.1-13.8-16.1-27.8-23.8-42.1c2.8-1.4,5.6-2.7,8.3-4c7.7,14,15.6,27.9,23.6,41.5c2.6,4.3,3.4,8.2,2.6,11.5
                  c-0.9,3.4-3.4,6.1-7.8,8.2C401.3,429.6,397.3,430.2,393.7,429z"/>
                <path class="st1" d="M393.3,363.5c2.9-1.3,5.7-2.6,8.6-3.9c4.3,7.8,8.6,15.5,13.1,23.1c-0.7-9.2-1.5-18.5-2.2-27.8
                  c2.8-1.2,5.7-2.3,8.5-3.5c0.4,8.1,0.9,16.2,1.3,24.3c10.1,10.1,20.4,20,30.9,29.9c-3,1.2-6,2.3-9.1,3.6
                  c-7.3-6.9-14.6-13.9-21.7-20.9c0.2,2.8,0.4,5.6,0.6,8.4c3.4,5.7,6.8,11.4,10.3,17c-2.9,1.2-5.9,2.5-8.8,3.8
                  C413.8,399.9,403.4,381.9,393.3,363.5z"/>
                <path class="st1" d="M457.3,400.8c-3.7-1.5-6.9-4.4-9.5-8.7c-5.7-9.4-11.4-18.9-16.9-28.5c-2.5-4.4-3.4-8.2-2.5-11.5
                  c0.8-3.3,3.3-5.7,7.4-7.2c4.1-1.5,7.9-1.3,11.5,0.3c3.6,1.7,6.6,4.8,9.2,9.2c5.6,9.6,11.4,19.2,17.2,28.6c2.7,4.3,3.7,8,2.9,11
                  c-0.7,3.1-3.2,5.3-7.4,6.8C464.9,402.3,461,402.4,457.3,400.8z M465.5,386.4c-6-9.8-11.9-19.7-17.8-29.7c-2.1-3.6-4.6-4.9-7.5-3.9
                  c-2.9,1-3.3,3.4-1.2,7c5.8,10,11.6,19.9,17.6,29.6c2.2,3.5,4.7,4.8,7.7,3.7C467.3,392.2,467.7,389.9,465.5,386.4z"/>
                <path class="st1" d="M487.2,390.8c-3.6-1.7-6.7-4.7-9.4-9.1c-0.6-1-1.3-2.1-1.9-3.1c2.6-0.8,5.3-1.6,7.9-2.4
                  c0.8,1.2,1.5,2.5,2.3,3.7c2.2,3.5,4.7,4.8,7.6,4c1.4-0.4,2.2-1.1,2.4-2.2c0.2-1-0.3-2.5-1.5-4.4c-1.4-2.3-3.2-4.1-5.2-5.6
                  c-2.1-1.4-5.2-3-9.4-4.7c-5.3-2.1-9.4-4.2-12.3-6.3c-2.9-2.1-5.2-4.7-7.1-7.9c-2.5-4.3-3.5-8.1-2.7-11.1c0.7-3.1,3-5.2,7-6.4
                  c3.9-1.1,7.5-0.7,10.9,1.1c3.4,1.9,6.4,5.1,9.1,9.5c0.5,0.8,0.9,1.5,1.4,2.3c-2.5,0.7-5.1,1.4-7.7,2.1c-0.6-0.9-1.1-1.9-1.7-2.8
                  c-1.1-1.9-2.3-3.2-3.5-3.8c-1.2-0.7-2.5-0.8-3.8-0.4c-2.7,0.8-3.1,3-1,6.5c1.2,2,2.8,3.7,4.8,5.1c2,1.4,5.2,3,9.3,4.7
                  c5.3,2.2,9.4,4.4,12.3,6.6c2.9,2.2,5.4,5,7.5,8.4c2.8,4.4,3.9,8.1,3.3,11c-0.6,2.9-3,4.9-7.1,6
                  C494.6,392.7,490.8,392.5,487.2,390.8z"/>
              </g>
              <path class="st1" d="M423.8,816.9c0,0,9.2-19.4,30.2-34.1s43.6-29.7,43.6-29.7s-9.7-15.6-12.3-21.6c-2.6-5.9-1.1-15.2,5.7-19.8
                c6.8-4.6,28.8-17,52.4-29.1s54.4-26.6,59.2-27.3c4.8-0.7,8.6-2.4,13.3,4.2c4.7,6.6,12.7,20.7,14.6,26c6.6-3.1,41.8-18.3,65.8-20.9
                c24-2.6,28-0.2,30.4,0.9"/>
              <path class="st0" d="M434.7,499.3c4-0.9,8.3-2.6,12.3-3.5"/>
              <path class="st0" d="M435.9,504.5c8.3-2.6,11.6-4.9,19.9-7.5"/>
              <path class="st0" d="M436.2,509.9c6.7-3.5,13.7-5.4,20.9-7.6"/>
              <path class="st0" d="M434,514.9c9.1-3.1,24.3-8.7,33.3-12.1"/>
              <path class="st0" d="M448,516.5c4.1-1,14.1-5.8,18.2-6.9"/>
              <path class="st0" d="M458.9,519.6c6.4-2.6,16.2-7.4,22.6-10"/>
              <path class="st0" d="M468.5,524.1c6.4-1.8,15.6-7.1,21.9-8.9"/>
              <path class="st0" d="M476.2,529.2c6.4-2.2,15-5.2,21.4-7.4"/>
              <path class="st0" d="M483.3,535.7c4.3-1.7,14-6.1,18.5-7.4"/>
              <path class="st0" d="M487.9,541c2.9-1,9-3.1,12-4.1"/>
              <path class="st0" d="M491.5,546.1c2.6-1,7.7-2.1,10.5-2.4"/>
              <path class="st0" d="M495.8,553.7c2.3-0.7,3.7-1.2,6-1.9"/>
              <path class="st0" d="M498.4,559.5c1.1-0.5,2.3-0.7,3.5-0.8"/>
            </svg>
            <svg version="1.1" id="lineas__boceto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 900 900" style="enable-background:new 0 0 900 900;" xml:space="preserve">
              <style type="text/css">
                .st2{fill:none;stroke:#E2261D;stroke-miterlimit:10;}
              </style>
              <path class="st2" d="M655.1,304.6c-4.6-2.7-15.7-7.4-36.1-11.1c-14.6-2.6-29.7,0.7-45.4,5.4c-4,1.2-10.5,6.9-13.4,9.8
                c-3,2.9-4.6,7.5-2.9,11.3c2,4.6,7.7,6.1,12.6,7.1c1,0.2,2.2,0.4,3-0.3c1.1-1.1,0.3-3-0.7-4.2c-8.8-10.4-25.2-11.6-37.7-6.1
                s-21.9,16.1-30.2,26.9"/>
              <path class="st2" d="M229.1,659.9c14-49.8,49.3-93.2,95.1-117.2c9.3-4.9,19.5-9.1,30-8.8c10.5,0.3,21.5,6.1,25.1,16"/>
              <path class="st2" d="M297.1,816c14.7-19.9,32.8-37.2,53.3-50.9c5.9-4,12.9-7.8,19.8-5.9c7.5,2,12.8,13,15.9,20.1
                c2.4,5.5,6.1,21.5-1.9,20.2c-8.2-2.8-14.9-14.5-1.7-28.5c10.2-10.8,21-17.1,35.5-20.6s84.6-19.2,130.9-40.5"/>
              <path class="st2" d="M257.8,523.6c0,0-11.5,9.5-26,13.2c-14.5,3.6-22.5,0.2-27.8-8.3c-5.3-8.5-3.2-20,4.2-27.2
                c2.2-2.1,5.2-4,8.2-3.3c4.6,0.9,5.8,6.5,4.6,10.6c-2.5,8.4-11.1,14.7-20.4,16.4c-9.4,1.8-19.3-0.5-27.6-4.8
                c-10.6-5.5-19.1-14.3-23.7-24.6"/>
            </svg>
            <img id="frases__boceto" src="./assets/enfoque/frases_boceto.svg" alt="Estrategia de posicionamiento para empresas" />
            <img id="botella__real__img" src="./assets/enfoque/botella_enfoque.png" alt="Agencia de diseño en Mérida Yucatán" />
            <img id="botella__web__contexto" src="./assets/enfoque/web_context.png" alt="Diseño de paginas web" />
            <img id="botella__web__base" src="./assets/enfoque/web_context_base.png" alt="Diseño de sitios web" />
            <img id="botella__web__fondo" src="./assets/enfoque/web_context_border.png" alt="Desarrollo de sitios web" />
            <div id="botella_gradiente_fondo"></div>
          </div>
        </div>
        <div class="canva__cover"></div>
      </div>
      <div class="col__right">
        <div class="right__etapa right__etapa__1">
          <h3><strong>Etapa 1:</strong> Estrategia de marca</h3>
          <div>
            <h2>Conceptos a partir de una estrategia de posicionamiento</h2>
            <p>Para saber cómo comunicar un mensaje, primero debemos saber a quién lo dirigimos.</p>
            <p>Después de una investigación y definición del target ideal para tu negocio, estructuramos junto contigo una estrategia que guiará cada fase para la construcción de tu marca.</p>
          </div>
          
        </div>
        <div class="right__etapa right__etapa__2">
          <h3><strong>Etapa 2:</strong> Identidad de marca</h3>
          <div>
            <h2>Identidad congruente con objetivos planteados</h2>
            <p>Por otra parte, una buena estrategia por si sola no es suficiente para conectar a nivel emocional con tu audiencia.</p>
            <p>El diseño de un logo atractivo y atemporal, un sistema de identidad flexible y congruente, o un empaque que destaque de la competencia, son algunos ejemplos de lo que te podemos ofrecer.</p>
          </div>
        </div>
        <div class="right__etapa right__etapa__3">
          <h3><strong>Etapa 3:</strong> Marketing</h3>
          <div>
            <h2>Ejecución de la publlicidad a través de una estrategia de marketing</h2>
            <p>Un negocio bien enfocado tiene más oportunidades de conectar con su audiencia, pero solo si saben de su existencia.</p>
            <p>Por lo tanto, creamos estrategias de marketing y publicidad, gestionamos diversas plataformas digitales, y cuidamos que cada una sea de la mayor relevancia para tu audiencia.</p>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <section id="section__featured" class="featured-articles">
    <div class="featured__cover"></div>
    <div class="column__1">
      <h3 class="subtitle">Proyectos destacados</h3>
      <div class="circle">Más info</div>
      <ul role="list" class="work__list">
        {%- for latestwork in collections.destacado | reverse -%}
          {% include 'latestwork-snippet.njk' %}
        {%- endfor -%}
      </ul>
    </div>
    <div class="column__1 col__btn">
      <span>Ver más proyectos de:
        <a class="btn" href="/branding/">Branding</a>
        <a class="btn" href="/web/">Web</a>
        <a class="btn" href="/marketing/">Marketing</a>
      </span>
    </div>
  </section>

  <section id="section__clientes">
    <div class="column__1">
      <h3 class="subtitle">Clientes</h3>
      <h2>Marcas con las que trabajamos</h2>
    </div>
    <div class="col__clientes">
      <div class="cliente__slider1">
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_iotam.svg" />
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_nervo.svg" />
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_iotam.svg" />
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_suhissa.svg" />
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_iotam.svg" />
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_iotam.svg" />
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_iotam.svg" />
      </div>
      <div class="cliente__slider2">
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_iotam.svg" />
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_iotam.svg" />
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_iotam.svg" />
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_iotam.svg" />
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_iotam.svg" />
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_iotam.svg" />
        <img class="cliente__logo" src="./assets/enfoque/clientes/cliente_iotam.svg" />
      </div>
    </div>
  </section>

  <section id="section__testimonios">
    <div class="column__2">
      <div class="col__left">
        <h3 class="subtitle">Testimonios</h3>
        <h2>Qué opinan nuestros clientes</h2>
      </div>
      <div class="col__right">
        <div class="splide" aria-label="Splide Basic HTML Example">
          <div class="splide__track">
            <ul class="splide__list">
              {%- for testimonio in collections.testimonio | reverse -%}
                {% include 'testimonio-snippet.njk' %}
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  This page is also available in:
  {% for link in page.url | locale_links %}
  {%- if not loop.first %},{% endif %}
  <a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.label}}</a>
  {% endfor %}

  
<script src="../../assets/scripts/splide.min.js"></script>
<script>
var splide = new Splide( '.splide', {
  type: 'loop',
  perPage: 1,
  perMove: 1,
  arrows: true,
} );
splide.mount();

//GSAP
//var tl2 = gsap.timeline();

//window.onload = function(){
  let hLogo = gsap.getProperty("#logoMarkerScale", "height");
  let hForCanvas = gsap.getProperty(".right__etapa__3", "height");
  let b1 = "radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(208,35,35,0) 100%)";
  let b2 = "radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(35,208,35,0) 100%)";
  //gsap.set("#section__header", { y: hLogo });
  
  gsap.to("#logoMarkerScale", {
    width:"200",
    y:"-80",
    scrollTrigger: {
      trigger: "#logoMarkerScale",
      start: "=-80 top",
      scrub: true,
      end: "bottom top",
      pin: true,
      pinSpacing: false,
    }
  });

  gsap.to("#logoMarkerScale", {
    opacity:0,
    scrollTrigger: {
      trigger: ".column__hero__1",
      start: `bottom top`,
      //start: `${hLogo/2}px top`,
      scrub: true,
      end: "bottom top",
    }
  });

  gsap.to(".header__nav", {
    opacity:1,
    scrollTrigger: {
      trigger: "#logoScale__container",
      start: "top top",
      //start: `${hLogo/2}px top`,
      scrub: true,
      end: `${hLogo}px top`,
    }
  });

  gsap.to(".branding__word", {
    opacity:0,
    scrollTrigger: {
      trigger: "#logoScale__container",
      start: `top top`,
      scrub: true,
      end: `${hLogo/2}px top`,
    }
  });

  gsap.to(".header__lang", {
    opacity:1,
    scrollTrigger: {
      trigger: "#logoScale__container",
      start: `${hLogo/2}px top`,
      scrub: true,
      end: `${hLogo}px top`,
    }
  });

  gsap.to("#logoMarkerHeader", {
    opacity:1,
    scrollTrigger: {
      trigger: ".column__hero__1",
      start: "bottom top",
      scrub: true,
      end: "bottom top",
    }
  });

  gsap.to("#section__header", {
    backgroundColor:"#edf1f9",//#e0e5ed
    scrollTrigger: {
      trigger: ".column__hero__2",
      start: "top top",
      scrub: true,
      end: "50% top",
    }
  });

  gsap.to("#section__header", {
    scrollTrigger:{
      trigger:"#section__header",
      endTrigger: ".site-footer",
      start: "top top",
      end: "bottom top",
      pin: "#section__header",
      pinSpacing: false,
    }
  })

  gsap.to("#canvas", {
    scrollTrigger:{
      trigger:".column__metodologia > .col__right",
      start: "top top",
      end: `bottom bottom`,
      endTrigger: ".right__etapa__3",
      pin: "#canvas",
      pinSpacing: false,
    }
  })

  gsap.to("#botella__real", {
    opacity:1,
    scrollTrigger: {
      trigger: ".right__etapa__1",
      start: "20% center",
      scrub: true,
      end: "40% center",
      ease: "power4.inOut",
    }
  });

  gsap.to("#botella__real", {
    scale: 1,
    rotate:0,
    scrollTrigger: {
      trigger: ".right__etapa__1",
      start: "top center",
      scrub: true,
      end: "bottom+=20% center",
      ease: "power4.inOut",
    }
  });

  gsap.from(".st0", {scrollTrigger: {trigger: ".right__etapa__1", start: "20% 60%", end: "30% 45%", scrub: 1}, ease: "none", drawSVG: "100% 100%"}, {drawSVG:"0% 100%"});
  gsap.from(".st1", {scrollTrigger: {trigger: ".right__etapa__1", start: "20% 60%", end: "30% 45%", scrub: 1}, ease: "none", drawSVG: "100% 100%"}, {drawSVG:"0% 100%"});
  gsap.from(".st2", {scrollTrigger: {trigger: ".right__etapa__1", start: "35% 60%", end: "40% 45%", scrub: 1}, ease: "none", drawSVG: "100% 100%"}, {drawSVG:"0% 100%"});

  gsap.from(".st0", {scrollTrigger: {trigger: ".right__etapa__1", start: "70% 50%", end: "90% 40%", scrub: 1}, ease: "none", drawSVG: "0% 100%"}, {drawSVG:"100% 100%"});
  gsap.from(".st1", {scrollTrigger: {trigger: ".right__etapa__1", start: "70% 50%", end: "90% 40%", scrub: 1}, ease: "none", drawSVG: "0% 100%"}, {drawSVG:"100% 100%"});
  gsap.from(".st2", {scrollTrigger: {trigger: ".right__etapa__1", start: "70% 50%", end: "90% 40%", scrub: 1}, ease: "none", drawSVG: "0% 100%"}, {drawSVG:"100% 100%"});


  gsap.to("#botella__real__img", {
    css: { 'filter': 'grayscale(0%)','-webkit-filter': 'grayscale(0%)', opacity:1 },    
    scrollTrigger: {
      trigger: ".right__etapa__2",
      start: "top center",
      scrub: true,
      end: "40% center",
      ease: "power4.inOut",
    }
  });

  gsap.to("#botella__real__img", {
    rotate:18,
    scrollTrigger: {
      trigger: ".right__etapa__2",
      start: "20% center",
      scrub: true,
      end: "bottom+=50% center",
      ease: "power4.inOut",
    }
  });

  gsap.to("#botella__real__img", {
    scale: 0.4,
    yPercent: 8,
    scrollTrigger: {
      trigger: ".right__etapa__2",
      start: "50% center",
      scrub: true,
      end: "bottom+=50% center",
      ease: "power4.inOut",
    }
  });

  gsap.fromTo("#frases__boceto", {
    opacity:1,
    scrollTrigger: {
      trigger: ".right__etapa__1",
      start: "25% center",
      scrub: true,
      end: "50% center",
    }
  },
  {
    opacity:0,
    scrollTrigger: {
      trigger: ".right__etapa__2",
      start: "top center",
      scrub: true,
      end: "10% center",
    }
  });

  gsap.to("#botella__web__fondo", {
    //x: 0,
    scale:1,
    scrollTrigger: {
      trigger: ".right__etapa__3",
      start: "top center",
      scrub: true,
      end: "30% center",
      ease: "power4.inOut",
    }
  });

  gsap.to("#botella__web__contexto", {
    opacity: 1,
    scrollTrigger: {
      trigger: ".right__etapa__3",
      start: "30% center",
      scrub: true,
      end: "45% center",
      ease: "power4.inOut",
    }
  });

  gsap.to("#botella__web__base", {
    opacity: 1,
    scrollTrigger: {
      trigger: ".right__etapa__3",
      start: "30% center",
      scrub: true,
      end: "45% center",
      ease: "power4.inOut",
    }
  });

  gsap.to(".canva__cover", {
    scale:1,
    scrollTrigger:{
      trigger:"#section__metodologia",
      start: "top 70%",
      end: "100 50%",
      scrub: true,
      ease: "power4.inOut",
    }
  })

  gsap.to(".featured__cover", {
    scale:1,
    scrollTrigger:{
      trigger:"#section__featured",
      start: "top 70%",
      end: "100 50%",
      scrub: true,
      ease: "power4.inOut",
    }
  })

  ScrollTrigger.batch(".work__list li", {
		trigger: ".work__list",
		start: "top, 70%",
		end: "top, 60%",
  	onEnter: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
		onEnterBack: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
		onLeave: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
		onLeaveBack: (batch) =>	gsap.to(batch, { opacity: 0, y:50, stagger: 0.2 }),
	});

  


  // Clientes:
  gsap.to('.cliente__slider1', { x:0, scrollTrigger: { trigger: '.cliente__slider1', start: 'top 100%', end: "bottom 0%", scrub: true}});
	gsap.to('.cliente__slider2', { x:0, scrollTrigger: { trigger: '.cliente__slider2', start: 'top 100%', end: "bottom 0%", scrub: true}});

//};
</script>