---
title: Privacy Notice
description: Consulta nuestro aviso de privacidad
bodyClass: privacy
layout: 'base.njk'
barba: privacy
label: en
id: privacy
robots: "noindex"
---

<div data-barba="container" data-barba-namespace="privacy" data-css="privacy" data-js="privacy">
    <section id="section__hero__privacy">
      <div class="column__1">
        <h1>Privacy Notice</h1>
      </div>
      <div class="column__1">
   
        {{ privacy.content | safe }}

      </div>
      <div class="column__1">
        <a class="btn" href="{{ "/" | locale_url }}">Back to home</a>
      </div>
    </section>
  </div>