---
title: Portfolio
description: Branding, Web, and Marketing Projects
seodescription: We present our portfolio of Branding and Brand Strategy Projects, Web Development, and Marketing.
seokeywords: branding, marketing, diseño, identidad, estrategia, seo, web, marker, logo, logotipo, brand, publicidad, app, merida, yucatan, mexico
bodyClass: work
layout: 'base.njk'
barba: work
label: en
id: all
---
<div data-barba="container" data-barba-namespace="work" data-css="work" data-js="work">
  <section id="section__hero__work__cat">
    <div class="column__1">
      <h1>We present our projects in</h1>
      <h2>Branding</h2><h2>Marketing &</h2><h2>Web Development</h2>
    </div>
  </section>

  <section id="section__work__list">
    <div class="column__1 filter__work">{% include 'filter-work.njk' %}</div>
    <div class="column__1__work__list">
      {% set groups = collections.work_en | reverse | chunk(5) %}
      {% for group in groups %}
        <ul role="list" class="work__list">
          {% for work in group %}
            {% include "work-snippet.njk" %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </section>
</div>