---
title: Nosotros
description: Nos especializamos en comunicación visual
bodyClass: about
layout: 'base.njk'
barba: index
label: es
---

<div data-barba="container" data-barba-namespace="about">
  <section id="section__hero__about">
    <div class="column__2">
      <div class="col__left">
        <h1>Agencia especializada en comunicación visual</h1>
        <h2>Somos una agencia de Branding conformada por creativos y nos apasiona el aspecto gráfico, funcional y
          estético de las cosas.</h2>
        <a class="btn btn__hero">Conoce más de la agencia</a>
      </div>
      <div class="col__right">
      </div>
    </div>
    <div class="column__2">
      <div class="col__left">
        <img src="/assets/about/about_hero.jpg" alt="Somos una agencia especializada en comunicación visual" />
      </div>
      <div class="col__right">
        <img src="/assets/about/about_hero.jpg" alt="Somos una agencia especializada en comunicación visual" />
      </div>
    </div>
  </section>

  <section id="section__intro">
    <div class="column__2 column__intro">
      <div class="col__left">
        <h3 class="subtitle">Qué nos define</h3>
        <h2 id="frase">Somos una agencia de Branding conformada por creativos y nos apasiona el aspecto gráfico,
          funcional y estético de las cosas.
          Somos una agencia de Branding conformada por creativos y nos apasiona el aspecto gráfico, funcional y estético
          de las cosas.</h2>
      </div>
      <div class="col__right">
      </div>
    </div>
  </section>

  <section id="section__motivacion">
    <div class="column__2">
      <div class="col__left">
        <img src="/assets/about/about_hero.jpg" alt="Somos una agencia especializada en comunicación visual" />
      </div>
      <div class="col__right">
        <h3 class="subtitle">Qué nos motiva</h3>
        <h2>Nos gusta crear marcas que impacten, que brinden una solución real a sus consumidores mediante la difusión
          de sus valores y beneficios. Nos motiva tu empresa y lo que puede llegar a ser. Nuestro objetivo es brindar un
          servicio creativo profesional con alto compromiso y un enfoque basado en resultados cuantificables.</h2>
      </div>
    </div>
  </section>

  <section id="section__values">
    <div class="column__2">
      <div class="col__left">
        <h3 class="subtitle">Nuestros valores fundamentales</h3>
        <h2>Qué opinan nuestros clientes</h2>
      </div>
      <div class="col__right">
        <ul role="list" class="value__list">
          <li class="value">
            <img src="/assets/testimonios/iotam/perfil.jpg"
              alt="Somos una agencia especializada en comunicación visual" />
            <div>
              <h2>Honestidad</h2>
              <p>Por lo tanto, creamos estrategias de marketing y publicidad, gestionamos diversas plataformas
                digitales, y cuidamos que cada una sea de la mayor relevancia para tu audiencia.</p>
            </div>
          </li>
          <li class="value">
            <img src="/assets/testimonios/iotam/perfil.jpg"
              alt="Somos una agencia especializada en comunicación visual" />
            <div>
              <h2>Honestidad</h2>
              <p>Por lo tanto, creamos estrategias de marketing y publicidad, gestionamos diversas plataformas
                digitales, y cuidamos que cada una sea de la mayor relevancia para tu audiencia.</p>
            </div>
          </li>
          <li class="value">
            <img src="/assets/testimonios/iotam/perfil.jpg"
              alt="Somos una agencia especializada en comunicación visual" />
            <div>
              <h2>Honestidad</h2>
              <p>Por lo tanto, creamos estrategias de marketing y publicidad, gestionamos diversas plataformas
                digitales, y cuidamos que cada una sea de la mayor relevancia para tu audiencia.</p>
            </div>
          </li>
          <li class="value">
            <img src="/assets/testimonios/iotam/perfil.jpg"
              alt="Somos una agencia especializada en comunicación visual" />
            <div>
              <h2>Honestidad</h2>
              <p>Por lo tanto, creamos estrategias de marketing y publicidad, gestionamos diversas plataformas
                digitales, y cuidamos que cada una sea de la mayor relevancia para tu audiencia.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="section__divisor__team">
    <div class="column__1">
      <img src="/assets/about/about_hero.jpg" alt="Somos un equipo multidisciplinario">
    </div>
  </section>

  <section id="section__why__name">
    <div class="col__left">
      <h3 class="subtitle">Por qué el nombre Marker</h3>
      <p id="why">Un Marker (marcador, rotulador o plumón) sirve para destacar lo más importante dentro de un libro en un mar de
        palabras. Nuestro nombre es una metáfora de lo que ofrecemos, destacar a las empresas del resto a través de la
        creación de estrategias que resulten en una marca memorable, que logre comunicar de manera efectiva su
        propuesta de valor hacia un público bien segmentado.</p>
    </div>
    <div class="col__right">
      
    </div>
  </section>

  <section id="section__team">
    <div class="column__1">
      <h3 class="subtitle">La agencia</h3>
    </div>
    <div class="column__1">
      <ul role="list" class="team__list">
        {%- for team in collections.equipo -%}
        {% include 'team-snippet.njk' %}
        {%- endfor -%}
      </ul>
    </div>
  </section>

</div>

<script src="../../assets/scripts/loader.js"></script>
<script>

  function aboutGsap() {

    /*	Frase	*/
    var tl2 = gsap.timeline(),
    mySplitText = new SplitText("#frase", { type: "lines,words,chars" }),
    chars = mySplitText.chars;

    gsap.set("#frase", { perspective: 400 });
    tl2.from(chars, {
      duration: 1.8,
      opacity: 0.2,
      transformOrigin: "0% 50% -50",
      x: 0,
      color: "#0053bf",
      stagger: 1.5,
      ease: "power2.out",
      scrollTrigger: {
        trigger: '#section__intro',
        start: 'top 55%',
        end: '30% 35%',
        scrub: true,
      }
    });

    tl2.from("#frase > div > div", {
      y: 100,
      scrollTrigger: {
        trigger: "#section__intro",
        start: 'top 60%',
        end: '10% 50%',
        scrub: true,
        ease: "power1.inOut",
      }
    })

    gsap.to("#section__header", {
      backgroundColor: "#edf1f9",
      scrollTrigger: {
        trigger: "main",
        start: "top top",
        scrub: true,
        end: "50% top",
      }
    })

    gsap.to("#section__header", {
      scrollTrigger: {
        trigger: "#section__header",
        endTrigger: "#site__footer",
        start: "top top",
        end: "bottom top",
        pin: "#section__header",
        pinSpacing: false,
      }
    })

    gsap.from("#section__divisor__team img", {
      scale: 0.6,
      borderRadius: "20",
      scrollTrigger: {
        trigger: "#section__divisor__team",
        scrub: true,
        start: "top 90%",
        end: "50% 50%",
        ease: "power4.inOut",
      }
    })

    gsap.set(".value", { opacity: 0, y: 50 }),
    ScrollTrigger.batch(".value", {
      trigger: "value__list",
      start: "top, 70%",
      end: "top, 60%",
      onEnter: (batch) => gsap.to(batch, { opacity: 1, y: 0, stagger: 0.2 }),
      onEnterBack: (batch) => gsap.to(batch, { opacity: 1, y: 0, stagger: 0.2 }),
      onLeave: (batch) => gsap.to(batch, { opacity: 1, y: 0, stagger: 0.2 }),
      onLeaveBack: (batch) => gsap.to(batch, { opacity: 0, y: 50, stagger: 0.2 }),
    });

    /*	Why Marker	*/
    mySplitTextWhy = new SplitText("#why", { type: "lines,words,chars" }),
    charsWhy = mySplitTextWhy.chars,
    
    gsap.from(charsWhy, {
      duration: 1.8,
      transformOrigin: "0% 50% -50",
      x: 0,
      color: "#2b2e3f",
      stagger: 1.5,
      ease: "power2.out",
      scrollTrigger: {
        trigger: '#section__why__name',
        start: 'top 55%',
        end: '30% 35%',
        scrub: true,
      }
    });

    gsap.from("#why > div > div", {
      y: 100,
      scrollTrigger: {
        trigger: "#section__why__name",
        start: 'top 60%',
        end: '10% 50%',
        scrub: true,
        ease: "power1.inOut",
      }
    })

  }

</script>