---
title: Nosotros
description: Nos especializamos en comunicación visual
bodyClass: about
layout: 'base.njk'
barba: index
label: es
---

<div data-barba="container" data-barba-namespace="about">
  <section id="section__hero__about">
    <div class="column__2">
      <div class="col__left">
        <h1>Agencia creativa especializada en branding y comunicación</h1>
        <h2>
          En Marker encontrarás a un equipo multidisciplinario apasionado
          por lo que hace y motivado por lo que puede lograr para tu marca.
        </h2>
        <button class="btn btn__hero">Conoce más de nosotros</button>
      </div>
      <div class="col__right">
      </div>
    </div>
    <div class="column__2">
      <div class="col__left">
        <img src="/assets/about/about_hero.jpg" alt="Somos una agencia especializada en comunicación visual" />
      </div>
      <div class="col__right">
        <img src="/assets/about/about_hero_b.jpg" alt="Somos una agencia especializada en comunicación visual" />
      </div>
    </div>
  </section>

  <section id="section__intro">
    <div class="column__2 column__intro">
      <div class="col__left">
        <h3 class="subtitle">Quiénes somos & qué hacemos</h3>
        <h2 id="frase">
          Somos una agencia creativa que inicia en 2019 con la visión de ayudar a otras
          empresas a lograr un posicionamiento en el mercado, a través de una comunicación efectiva
          y relevante para su audiencia.
          Lo hacemos mediante estrategias que logren identificar y conocer al consumidor meta,
          los valores que persigue y desea obtener a cambio, y con ello podamos ayudar
          a las empresas a moldear su personalidad y oferta, logrando un mayor grado de atracción
          durante la etapa de compra.
        </h2>
      </div>
      <div class="col__right">
      </div>
    </div>
  </section>

  <section id="section__motivacion">
    <div class="column__2">
      <div class="col__left">
        <img src="/assets/about/about_motivation.jpg" alt="Somos una agencia especializada en comunicación visual" />
      </div>
      <div class="col__right">
        <h3 class="subtitle">Qué nos motiva</h3>
        <h2 class="title">
          Los retos… y el branding lo es. Nos motiva encarar cada proyecto de forma independiente e
          integral porque ninguna marca es igual, desde su visión, valores, productos, servicios,
          hasta su operación y forma de hacer las cosas, todo forma parte de la ecuación para alcanzar
          un resultado exitoso.
        </h2>
        <h2 class="title">
          Nos apasiona crear estrategias junto contigo, que te permitirán llamar la atención de aquellos
          en busca de lo que ofreces. Nuestro objetivo es ayudarte a que tus clientes obtengan
          la mejor versión de ti.
        </h2>
      </div>
    </div>
  </section>

  <section id="section__values">
    <div class="column__2">
      <div class="col__left">
        <h3 class="subtitle">Nuestros valores fundamentales</h3>
        <h2 class="title">
          En Marker nos regimos a partir de valores fundamentales que son parte de nuestra
          esencia en cada proyecto que iniciamos.
        </h2>
      </div>
      <div class="col__right">
        <ul role="list" class="value__list">
          <li class="value">
            <img src="/assets/about/valor_compromiso.svg"
              alt="Somos una agencia especializada en comunicación visual" />
            <div>
              <h2>Compromiso</h2>
              <p>
                Somos un equipo que se caracteriza por su constante esfuerzo por entregar los mejores resultados
                posibles para nuestros clientes a fin de satisfacer las necesidades de sus marcas.
              </p>
            </div>
          </li>
          <li class="value">
            <img src="/assets/about/valor_honestidad.svg"
              alt="Somos una agencia especializada en comunicación visual" />
            <div>
              <h2>Honestidad</h2>
              <p>
                La confianza es una virtud fundamental en toda relación con nuestros clientes. La información
                que nos compartes sobre tu marca siempre será usada con total discreción y seguridad.
              </p>
            </div>
          </li>
          <li class="value">
            <img src="/assets/about/valor_calidad.svg"
              alt="Somos una agencia especializada en comunicación visual" />
            <div>
              <h2>Calidad</h2>
              <p>
                Nuestro trabajo es metódico, se realiza a través de etapas que garantizan la obtención de
                resultados a la altura de las expectativas. Nuestro cuidado a los detalles marcan la diferencia.
              </p>
            </div>
          </li>
          <li class="value">
            <img src="/assets/about/valor_creatividad.svg"
              alt="Somos una agencia especializada en comunicación visual" />
            <div>
              <h2>Creatividad</h2>
              <p>
                Miramos fuera de la caja en busca de alternativas que brinden soluciones óptimas a los
                problemas o situaciones de cada marca. Nos gusta crear, sin dejar de lado el sentido común.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section id="section__divisor__team">
    <div class="column__1">
      <img src="/assets/about/about_divisor.jpg" alt="Somos un equipo multidisciplinario">
    </div>
  </section>

  <section id="section__why__name">
    <div class="column__2">
      <div class="col__left">
        <h3 class="subtitle">Origen del nombre Marker</h3>
        <p id="why">Un Marker (marcador, rotulador o plumón) sirve para destacar lo más importante dentro de un libro en un mar de
          palabras. Nuestro nombre es una metáfora de lo que ofrecemos, destacar a las empresas de su competencia a través de la
          creación de estrategias que resulten en una marca memorable, que logre comunicar de manera efectiva su
          propuesta de valor hacia un público bien segmentado.</p>
      </div>
      <div class="col__right">
        <div id="marker__red"><img src="/assets/about/marker_red.png" alt="Somos MARKER branding y creamos marcas memorables"/></div>
        
      </div>
    </div>
  </section>

  <section id="section__team">
    <div class="column__1">
      <h3 class="subtitle">Quiénes integran a Marker</h3>
    </div>
    <div class="column__1">
      <ul role="list" class="team__list">
        {%- for team in collections.equipo -%}
        {% include 'team-snippet.njk' %}
        {%- endfor -%}
      </ul>
    </div>
  </section>

</div>

<script src="../../assets/scripts/loader.js"></script>
<script>

  function aboutGsap() {

    // Btn ScrollTo:
    const heroBtn = document.querySelector('#section__hero__about .btn');
    heroBtn.addEventListener('click', () => {
        gsap.to(window, { duration: 0.5, scrollTo: "#section__intro", ease: "power4.out"});
    });

    /*	Frase	*/
    var tl2 = gsap.timeline(),
    mySplitText = new SplitText("#frase", { type: "lines,words,chars" }),
    chars = mySplitText.chars;

    gsap.set("#frase", { perspective: 400 });
    tl2.from(chars, {
      duration: 1.8,
      transformOrigin: "0% 50% -50",
      x: 0,
      color: "#bcc6d8",
      stagger: 1.5,
      ease: "power2.out",
      scrollTrigger: {
        trigger: '#section__intro',
        start: 'top 55%',
        end: '30% 35%',
        scrub: true,
      }
    });

    tl2.from("#frase > div > div", {
      y: 100,
      scrollTrigger: {
        trigger: "#section__intro",
        start: 'top 60%',
        end: '10% 50%',
        scrub: true,
        ease: "power1.inOut",
      }
    })

    gsap.to("#section__header", {
      backgroundColor: "#edf1f9",
      scrollTrigger: {
        trigger: "main",
        start: "top top",
        scrub: true,
        end: "50% top",
      }
    })

    gsap.to("#section__header", {
      scrollTrigger:{
          trigger:"#section__header",
          endTrigger: "#smooth-wrapper",
          start: "top top",
          end: "max",
          pin: "#section__header",
          pinSpacing: false,
      }
    });

    gsap.from("#section__divisor__team img", {
      scale: 0.6,
      borderRadius: "20",
      scrollTrigger: {
        trigger: "#section__divisor__team",
        scrub: true,
        start: "top 90%",
        end: "50% 50%",
        ease: "power4.inOut",
      }
    })

    gsap.set(".value", { opacity: 0, y: 50 }),
    ScrollTrigger.batch(".value", {
      trigger: "value__list",
      start: "top, 70%",
      end: "top, 60%",
      onEnter: (batch) => gsap.to(batch, { opacity: 1, y: 0, stagger: 0.2 }),
      onEnterBack: (batch) => gsap.to(batch, { opacity: 1, y: 0, stagger: 0.2 }),
      onLeave: (batch) => gsap.to(batch, { opacity: 1, y: 0, stagger: 0.2 }),
      onLeaveBack: (batch) => gsap.to(batch, { opacity: 0, y: 50, stagger: 0.2 }),
    });

    gsap.set(".subtitle", { opacity: 0, x: -50 }),
    ScrollTrigger.batch(".subtitle", {
      trigger: ".subtitle",
      start: "top, 70%",
      end: "top, 60%",
      onEnter: (batch) => gsap.to(batch, { opacity: 1, x: 0 }),
      onEnterBack: (batch) => gsap.to(batch, { opacity: 1, x: 0 }),
      onLeave: (batch) => gsap.to(batch, { opacity: 1, x: 0 }),
      onLeaveBack: (batch) => gsap.to(batch, { opacity: 0, x: -50 }),
    });

    gsap.set(".title", { opacity: 0, y: 50 }),
    ScrollTrigger.batch(".title", {
      trigger: ".title",
      start: "top, 70%",
      end: "top, 60%",
      onEnter: (batch) => gsap.to(batch, { opacity: 1, y: 0 }),
      onEnterBack: (batch) => gsap.to(batch, { opacity: 1, y: 0 }),
      onLeave: (batch) => gsap.to(batch, { opacity: 1, y: 0 }),
      onLeaveBack: (batch) => gsap.to(batch, { opacity: 0, y: 50 }),
    });

    /*	Why Marker	*/
    mySplitTextWhy = new SplitText("#why", { type: "lines,words,chars" }),
    charsWhy = mySplitTextWhy.chars,
    
    gsap.from(charsWhy, {
      duration: 1.8,
      transformOrigin: "0% 50% -50",
      x: 0,
      color: "#2b2e3f",
      stagger: 1.5,
      ease: "power2.out",
      scrollTrigger: {
        trigger: '#section__why__name',
        start: 'top 55%',
        end: '30% 35%',
        scrub: true,
      }
    });

    gsap.from("#why > div > div", {
      y: 100,
      scrollTrigger: {
        trigger: "#section__why__name",
        start: 'top 60%',
        end: '10% 50%',
        scrub: true,
        ease: "power1.inOut",
      }
    })

    

    gsap.from("#marker__red", {
      yPercent:-200,
      scrollTrigger: {
        trigger: "#section__why__name .col__right",
        start: 'top 60%',
        end: '70% 50%',
        scrub: true,
        ease: "power1.out",
      },
    })

  }

</script>