---
title: Nosotros
description: Nos especializamos en comunicación visual
bodyClass: about
layout: 'base.njk'
barba: index
label: es
---

<section id="section__hero__about">
  <div class="column__2">
    <div class="col__left">
      <h1>Agencia especializada en comunicación visual</h1>
      <h2>Somos una agencia de Branding conformada por creativos y nos apasiona el aspecto gráfico, funcional y estético de las cosas.</h2>
      <a class="btn btn__hero">Conoce más de la agencia</a>
    </div>
    <div class="col__right">
    </div>
  </div>
  <div class="column__2">
    <div class="col__left">
      <img src="/assets/about/about_hero.jpg" alt="Somos una agencia especializada en comunicación visual" />
    </div>
    <div class="col__right">
      <img src="/assets/about/about_hero.jpg" alt="Somos una agencia especializada en comunicación visual" />
    </div>
  </div>
</section>

<section id="section__intro">
  <div class="column__2 column__intro">
    <div class="col__left">
      <h3 class="subtitle">Qué nos define</h3>
      <h2 id="frase">Somos una agencia de Branding conformada por creativos y nos apasiona el aspecto gráfico, funcional y estético de las cosas.
        Somos una agencia de Branding conformada por creativos y nos apasiona el aspecto gráfico, funcional y estético de las cosas.</h2>
    </div>
    <div class="col__right">
    </div>
  </div>
</section>

<section id="section__motivacion">
  <div class="column__2">
    <div class="col__left">
      <img src="/assets/about/about_hero.jpg" alt="Somos una agencia especializada en comunicación visual" />
    </div>
    <div class="col__right">
      <h3 class="subtitle">Qué nos motiva</h3>
      <h2>Nos gusta crear marcas que impacten, que brinden una solución real a sus consumidores mediante la difusión de sus valores y beneficios. Nos motiva tu empresa y lo que puede llegar a ser. Nuestro objetivo es brindar un servicio creativo profesional con alto compromiso y un enfoque basado en resultados cuantificables.</h2>
    </div>
  </div>
</section>

<script>

    gsap.to("#section__header", {
      backgroundColor:"#edf1f9",//#e0e5ed
      scrollTrigger: {
        trigger: ".column__hero__2",
        start: "top top",
        scrub: true,
        end: "50% top",
      }
    });
  
    gsap.to("#section__header", {
      scrollTrigger:{
        trigger:"#section__header",
        endTrigger: ".site-footer",
        start: "top top",
        end: "bottom top",
        pin: "#section__header",
        pinSpacing: false,
      }
    })
  
    ScrollTrigger.batch(".work__list li", {
          trigger: ".work__list",
          start: "top, 70%",
          end: "top, 60%",
        onEnter: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
          onEnterBack: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
          onLeave: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
          onLeaveBack: (batch) =>	gsap.to(batch, { opacity: 0, y:50, stagger: 0.2 }),
      });
  
  
  
  </script>