---
title: Contacto
description: Demos inicio a tu proyecto de branding
bodyClass: contact
layout: 'base.njk'
barba: blog
label: es
locale: es
---

<div data-barba="container" data-barba-namespace="contact">
  <section id="section__hero__contacto">
    <div class="column__2">
      <div class="col__left">
        <h1>Contáctanos, estamos para ayudarte</h1>
        <h2>Estrategias de posicionamiento de marca.</h2>
      </div>
      <div class="col__right">
      </div>
    </div>
  </section>

  <section id="section__contacto__data">
    <div class="column__1">
      <div class="bloque__contacto">
        <h3>Teléfono</h3>
        <a>999 331 4062</a><span class="a__smaller">(<a href="tel:+5219993314062">Llamada</a> / <a href="https://wa.me/+5219993314062">Whatsapp</a>)</span>
      </div>
      <div class="bloque__contacto">
        <h3>Correo electrónico</h3>
        <a href="mailto:hola@marker.com.mx">hola@marker.com.mx</a>
      </div>
      <div class="bloque__contacto">
        <h3>Oficina</h3>
        <a>Periférico Norte. Calle 11 #306 x 12-A Santa Gertrudis Copó, C.P. 97305, Mérida, Yucatán. México.</a>
      </div>
    </div>
  </section>

  <section id="section__contacto">
    <div class="column__2">
      <div class="col__left">
        
        <!--<ul class="nav__footer">
          <li><a href="/">Enfoque</a></li>
          <li><a href="/branding/">Branding</a></li>
          <li><a href="/web/">Web</a></li>
          <li><a href="/publicidad/">Publicidad</a></li>
          <li><a href="/nosotros/">Nosotros</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/contacto/">Contacto</a></li>
        </ul>-->
        <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.749883864686!2d-89.60064602302455!3d21.037362780614174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5676fb796cacaf%3A0x10d6454e030169f4!2sMARKER%20agencia%20de%20branding%2C%20inbound%20marketing%20y%20dise%C3%B1o!5e0!3m2!1ses!2smx!4v1733636025039!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col__right form__wrapper">
        <!--<form name="contacto" method="POST" data-netlify="true">
          <div>
            <label>Nombre:</label>
            <input type="text" name="name" />
          </div>
          <div>
            <label>Empresa:</label>
            <input type="text" name="empresa" />
          </div>
          <div>
            <label>Teléfono:</label>
            <input type="text" name="telefono" />
          </div>
          <div>
            <label>Correo electrónico:</label>
            <input type="email" name="email" />
          </div>
          <div>
            <label>Elige un servicio de interés:</label>
            <div class="select__wrapper">
              <select name="role[]" >
                <option disabled selected value>-- Selecciona una opción --</option>
                <option value="branding">Branding</option>
                <option value="web">Sitio Web</option>
                <option value="marketing">Marketing / Publicidad</option>
              </select>
            </div>
          </div>
          <div>
            <label>Comentarios (opcional):</label>
            <textarea name="message"></textarea>
          </div>
          <div>
            <button class="btn" type="submit">Enviar mensaje</button>
          </div>
        </form>-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
        <script>
          hbspt.forms.create({
            portalId: "48702052",
            formId: "34c53d9a-d627-49f1-b36f-bf19c5439c05"
          });
        </script>
      </div>
    </div>
  </section>
</div>

<script src="../../assets/scripts/loader.js"></script>
<script>

  function contactGsap() {

    gsap.to("#section__header", {
      backgroundColor:"#edf1f9",//#e0e5ed
      scrollTrigger: {
        trigger: ".column__hero__2",
        start: "top top",
        scrub: true,
        end: "50% top",
      }
    });
  
    gsap.to("#section__header", {
      scrollTrigger:{
        trigger:"#section__header",
        endTrigger: ".site-footer",
        start: "top top",
        end: "bottom top",
        pin: "#section__header",
        pinSpacing: false,
      }
    })
  
    ScrollTrigger.batch(".work__list li", {
      trigger: ".work__list",
      start: "top, 70%",
      end: "top, 60%",
      onEnter: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
      onEnterBack: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
      onLeave: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
      onLeaveBack: (batch) =>	gsap.to(batch, { opacity: 0, y:50, stagger: 0.2 }),
    });

  }
  
</script>