---
title: Newsletter
description: Gracias por suscribirte a nuestro boletín
bodyClass: gracias-news
layout: 'base.njk'
barba: newsletter
label: es
id: newsletter
robots: "noindex"
---
<div data-barba="container" data-barba-namespace="newsletter" data-css="thanks" data-js="thanks">
  <section id="section__hero__thanks">
    <div class="column__2">
      <div class="col__left">
        <img src="/assets/success.svg" width="100" height="100" alt="Mensaje enviado correctamente a Marker Branding" />
        <h1>Gracias por suscribirte.</h1>
        <h2>Te enviaremos información relevante para ti y tu negocio. Valoramos tu tiempo y que seas parte de nuestra comunidad.</h2>
        <a class="btn" href="{{ "/" | locale_url }}">Regresar al inicio</a>
      </div>
      <div class="col__right">
      </div>
    </div>
  </section>
</div>