---
title: Gracias
description: Gracias por tu mensaje, nos pondremos en contacto contigo muy pronto
bodyClass: gracias
layout: 'base.njk'
barba: thanks
label: es
id: thanks
robots: "noindex"
---
<div data-barba="container" data-barba-namespace="thanks" data-css="thanks" data-js="thanks">
  <section id="section__hero__thanks">
    <div class="column__2">
      <div class="col__left">
        <img src="/assets/success.svg" width="100" height="100" alt="Mensaje enviado correctamente a Marker Branding" />
        <h1>Mensaje enviado.</h1>
        <h2>Gracias por tu tiempo, nos pondremos en contacto contigo muy pronto.</h2>
        <a class="btn" href="{{ "/" | locale_url }}">Regresar al inicio</a>
      </div>
      <div class="col__right">
      </div>
    </div>
  </section>
</div>