---
title: Work
description: Proyectos de estrategia de marca, identidad corporativa y logo
bodyClass: work
layout: 'base.njk'
barba: work
label: es
---
<div data-barba="container" data-barba-namespace="work">
  <section id="section__hero__work__cat">
    <div class="column__1">
      <h1>Te presentamos nuestros proyectos de</h1>
      <h2>Branding,</h2><h2>Web &</h2><h2>Marketing.</h2>
    </div>
  </section>

  <section id="section__work__list">
    <div class="column__1 filter__work">{% include 'filter-work.njk' %}</div>
    <div class="column__1__work__list">
      <ul role="list" class="work__list">
        {%- for work in collections.work_es | reverse -%}
          {% include 'work-snippet.njk' %}
        {%- endfor -%}
      </ul>
    </div>
  </section>

</div>

<script src="../../assets/scripts/loader.js"></script>
<script>
  
  function workGsap() {

    // Check if it's a touch device
    const isTouchDevice = 'ontouchstart' in window;
    const createCursorFollower = () => {
      const $el = document.querySelector('.cursor-follower');
      window.addEventListener('mouseover', (e) => {
        gsap.from($el, {
          duration: 1,
          rotate: 0,
        });
      });
      window.addEventListener('mousemove', (e) => {
        const { target, x, y } = e;
        const isTargetLinkOrBtn = target?.closest('.work__list a');
        gsap.to($el, {
          x: x - 50,
          y: y - 70,
          duration: 1,
          ease: 'power4',
          opacity: isTargetLinkOrBtn ? 1 : 0,
          transform: `scale(${isTargetLinkOrBtn ? 1 : 0})`,
        });
      });
      // Hidding the cursor element when the mouse cursor
      // is moved out of the page
      document.addEventListener('mouseleave', (e) => {
        gsap.to($el, {
          duration: 0.5,
          opacity: 0,
          rotate: 0,
        });
      });
    };
    // Only invoke the function if isn't a touch device
    if (!isTouchDevice) {
      createCursorFollower();
    }

    gsap.to("#section__header", {
      backgroundColor:"#edf1f9",//#e0e5ed
      scrollTrigger: {
        trigger: "main",
        start: "top top",
        scrub: true,
        end: "50% top",
      }
    })

    gsap.to("#section__header", {
      scrollTrigger:{
        trigger:"#section__header",
        endTrigger: "#site__footer",
        start: "top top",
        end: "bottom top",
        pin: "#section__header",
        pinSpacing: false,
      }
    });

    ScrollTrigger.batch(".work__list li", {
      trigger: ".work__list",
      start: "top, 70%",
      end: "top, 60%",
      onEnter: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
      onEnterBack: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
      onLeave: (batch) =>	gsap.to(batch, { opacity: 1, y:0, stagger: 0.2 }),
      onLeaveBack: (batch) =>	gsap.to(batch, { opacity: 0, y:50, stagger: 0.2 }),
    });
  }
</script>