---
title: Portafolio
description: Proyectos de branding, web y marketing
seodescription: Te presentamos nuestro portafolio de proyectos de Branding y estrategia de marca, Desarrollo Web, y Marketing.
seokeywords: branding, marketing, diseño, identidad, estrategia, seo, web, marker, logo, logotipo, brand, publicidad, app, merida, yucatan, mexico
bodyClass: work
layout: 'base.njk'
barba: work
label: es
id: all
---
<div data-barba="container" data-barba-namespace="work" data-css="work" data-js="work">
  <section id="section__hero__work__cat">
    <div class="column__1">
      <h1>Te presentamos nuestros proyectos de</h1>
      <h2>Branding</h2><h2>Marketing &</h2><h2>Desarrollo Web</h2>
    </div>
  </section>

  <section id="section__work__list">
    <div class="column__1 filter__work">{% include 'filter-work.njk' %}</div>
    <div class="column__1__work__list">
      {% set groups = collections.work_es | reverse | chunk(5) %}
      {% for group in groups %}
        <ul role="list" class="work__list">
          {% for work in group %}
            {% include "work-snippet.njk" %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </section>
</div>