---
title: Digital Marketing and Advertising Portfolio
description: Social media, digital campaigns and content strategy projects.
seodescription: Explore our digital marketing and advertising portfolio, including social media management, digital campaigns and content strategies that drive results.
seokeywords: digital marketing portfolio, social media campaigns, content strategy, advertising agency, creative marketing, social media management, marketing agency mexico, global branding
bodyClass: work-marketing
layout: 'base.njk'
barba: work-marketing
label: en
id: work-marketing
---
<div data-barba="container" data-barba-namespace="work-marketing" data-css="work" data-js="work">
  <section id="section__hero__work__cat">
    <div class="column__1">
      <h1>Te presentamos nuestros proyectos de</h1>
      <h2>Marketing</h2><h2>Publicidad &</h2><h2>Redes Sociales.</h2>
    </div>
  </section>

  <section id="section__work__list">
    <div class="column__1 filter__work">{% include 'filter-work.njk' %}</div>
    <div class="column__1__work__list">
      {% set groups = collections.marketing_es | reverse | chunk(5) %}
      {% for group in groups %}
        <ul role="list" class="work__list">
          {% for work in group %}
            {% include "work-snippet.njk" %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </section>
</div>