---
title: Web Design and Development Portfolio
description: Corporate websites, landing pages and responsive web design.
seodescription: Explore our web design and development portfolio. We create functional, visually engaging, and responsive websites for all types of businesses.
seokeywords: web design portfolio, responsive websites, landing pages, UI/UX design, frontend development, creative web agency, digital agency mexico, global web design
bodyClass: work-web
layout: 'base.njk'
barba: work-web
label: en
id: work-web
---
<div data-barba="container" data-barba-namespace="work-web" data-css="work" data-js="work">
  <section id="section__hero__work__cat">
    <div class="column__1">
      <h1>Te presentamos nuestros proyectos de</h1>
      <h2>Desarrollo</h2><h2>Web.</h2>
    </div>
  </section>

  <section id="section__work__list">
    <div class="column__1 filter__work">{% include 'filter-work.njk' %}</div>
    <div class="column__1__work__list">
      {% set groups = collections.web_es | reverse | chunk(5) %}
      {% for group in groups %}
        <ul role="list" class="work__list">
          {% for work in group %}
            {% include "work-snippet.njk" %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </section>
</div>