---
title: Portafolio de Branding y Estrategia de Marca
description: Proyectos de identidad corporativa, naming y diseño de logotipo.
seodescription: Descubre nuestros proyectos de branding estratégico, identidad visual, naming y logotipos. Marcas diseñadas con propósito.
seokeywords: branding estratégico, identidad corporativa, diseño de marca, naming, logotipos creativos, diseño gráfico, estrategia de marca, branding en méxico, agencia de branding, marker
bodyClass: work-branding
layout: 'base.njk'
barba: work-branding
label: es
id: work-branding
---
<div data-barba="container" data-barba-namespace="work-branding" data-css="work" data-js="work">
  <section id="section__hero__work__cat">
    <div class="column__1">
      <h1>Te presentamos nuestros proyectos de</h1>
      <h2>Branding,</h2><h2>Logo e</h2><h2>Identidad.</h2>
    </div>
  </section>

  <section id="section__work__list">
    <div class="column__1 filter__work">{% include 'filter-work.njk' %}</div>
    <div class="column__1__work__list">
      {% set groups = collections.branding_es | reverse | chunk(5) %}
      {% for group in groups %}
        <ul role="list" class="work__list">
          {% for work in group %}
            {% include "work-snippet.njk" %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </section>
</div>