---
title: Portafolio de Marketing Digital y Publicidad
description: Proyectos de redes sociales, campañas digitales y contenido estratégico.
seodescription: Descubre nuestros proyectos de marketing digital, campañas publicitarias y gestión de redes sociales. Estrategias que generan conexión y resultados.
seokeywords: marketing digital, publicidad creativa, campañas digitales, redes sociales, gestión de contenido, estrategia digital, agencia de marketing, marker, méxico
bodyClass: work-marketing
layout: 'base.njk'
barba: work-marketing
label: es
id: work-marketing
---
<div data-barba="container" data-barba-namespace="work-marketing" data-css="work" data-js="work">
  <section id="section__hero__work__cat">
    <div class="column__1">
      <h1>Te presentamos nuestros proyectos de</h1>
      <h2>Marketing</h2><h2>Publicidad &</h2><h2>Redes Sociales.</h2>
    </div>
  </section>

  <section id="section__work__list">
    <div class="column__1 filter__work">{% include 'filter-work.njk' %}</div>
    <div class="column__1__work__list">
      {% set groups = collections.marketing_es | reverse | chunk(5) %}
      {% for group in groups %}
        <ul role="list" class="work__list">
          {% for work in group %}
            {% include "work-snippet.njk" %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </section>
</div>