---
title: Portafolio de Diseño y Desarrollo Web
description: Proyectos de sitios web, páginas corporativas y diseño responsivo.
seodescription: Conoce nuestros proyectos de diseño y desarrollo web. Creamos sitios funcionales, visuales y optimizados para distintos dispositivos.
seokeywords: diseño web, desarrollo web, sitios responsivos, páginas web, diseño UI/UX, desarrollo frontend, web corporativa, agencia digital, marker, méxico
bodyClass: work-web
layout: 'base.njk'
barba: work-web
label: es
id: work-web
---
<div data-barba="container" data-barba-namespace="work-web" data-css="work" data-js="work">
  <section id="section__hero__work__cat">
    <div class="column__1">
      <h1>Te presentamos nuestros proyectos de</h1>
      <h2>Desarrollo</h2><h2>Web.</h2>
    </div>
  </section>

  <section id="section__work__list">
    <div class="column__1 filter__work">{% include 'filter-work.njk' %}</div>
    <div class="column__1__work__list">
      {% set groups = collections.web_es | reverse | chunk(5) %}
      {% for group in groups %}
        <ul role="list" class="work__list">
          {% for work in group %}
            {% include "work-snippet.njk" %}
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </section>
</div>